.header-secondary-nav
  .section#J_scroll
    ul
      li: a(href='/about/company', class={native: _.startsWith(path,'/about/company')}) 公司简介
      //-
        li: a(href='/about/news', class={native: _.startsWith(path,'/about/news')}) 红上动态
      li: a(href='/about/safety', class={native: _.startsWith(path,'/about/safety')}) 安全保障
      li: a(href='/about/risk', class={native: _.startsWith(path,'/about/risk')}) 风控体系
      li: a(href='/about/product', class={native:_.startsWith(path, '/about/product')}) 产品介绍
      li: a(href='/about/filing', class={native:_.startsWith(path, '/about/filing')}) 备案进程
      li: a(href='/about/audit', class={native:_.startsWith(path, '/about/audit')}) 审计报告
      //-
        li: a(href='/about/announcement', class={native: _.startsWith(path, '/about/announcement')}) 网站公告
      //-
        li: a(href='/about/jobs', class={native: _.startsWith(path,'/about/jobs')}) 招贤纳士
      li: a(href='/about/contact', class={native: _.startsWith(path,'/about/contact')}) 联系我们
      li: a(href='/about/report', class={native: _.startsWith(path,'/about/report')}) 运营报告
      li: a(href='/about/law', class={native: _.startsWith(path,'/about/law')}) 法律法规
