.agreement
  h4
    font-size: $font-size-base
    text-align: center
  h5
    font-size: $font-size-small
  p
    font-size: $font-size-small
  table
    font-size: $font-size-small
    border-collapse:collapse
  th
  td
    border: 1px solid $link-gray-color
  &-footer
    padding-bottom: 80px
    position: relative
    &-top
      margin-top: 60px
    &-title
      height: 70px
      position: relative
      .agreement-signature-zx
        position: absolute
        top: -36px
        left: 48px
      .agreement-signature
        position: absolute
        top: -36px
        left: 202px
    .self-username-span
      white-space: nowrap
      line-height: 24px
      padding-left: 10px
      font-weight: 500
      display: inline-block
    .self-default-span
      line-height: 24px
      font-weight: 500
    img
      width: 100px
  &-footer-new
    padding-bottom: 20px
    position: relative
    &-title
      height: 70px
      position: relative
      .agreement-signature
        position: absolute
        top: -36px
        left: 100px
    .self-username-span
      white-space: nowrap
      line-height: 24px
      padding-left: 10px
      font-weight: 500
      display: inline-block
    .self-default-span
      line-height: 24px
      font-weight: 500
    img
      width: 100px    
  &-signature-plan
    position: absolute
    top: -32px;
    left: 100px;