.discount
  $border-grey-color = #F5F5F9
  &-body
    margin: 0 auto
  &-explain
    &-title
      padding: 1rem 1rem 1rem 1.2rem
      border-bottom: 0.5rem solid $border-grey-color
    &-icon
      width: $font-size-base
      display: inline-block
      margin-right: 1rem
      margin-top: -.2rem
      vertical-align: middle
    &-list
      padding: 0 1rem 0 1.4rem
      li
        margin-bottom: 1rem
        list-style: none 