.download
  $app-bg = #fff4e1
  $color-red = #F55151
  $font-size-footer = 1.25rem
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  background: $app-bg
  &-header
    display: none
    padding-left: 1rem
    font-size: $font-size-small
    color: $color-red
    &.wechat
      display: block
  &-icon-arrow
    position: absolute
    right: 0
    top: 2rem
    width: 6.06rem
    height: 5.58rem
    background: url('/img/download-arrow.png') no-repeat right 0
    background-size: contain
  &-content
    position: absolute
    left: 0
    right: 0
    top: 10%
    bottom: 5%
    background: url('/img/download-hxb.png') no-repeat center 10%
    background-size: contain
    &.wechat
      top: 20%
      background: url('/img/download-wechat.png') no-repeat center 0
      background-size: contain
  &-footer
    display: flex
    width: 100%
    height: 23%
    position: absolute
    left: 0
    bottom: 0
    text-align: center
    font-size: $font-size-footer
    color: $white-color
    background: url('/img/download-footer.png')
    background-size: contain
    p
      display: inline-block
      margin: auto
    span
      display: block
      margin-top: 1rem
      font-size: $font-size-base