.landing-miya
  $landing-bg-color = #ff556c
  $landing-plan-title = #FFE98C
  $landing-plan-rate = #FF415C
  $landing-plan-desc = #9C9596
  $landing-active-bg = #FF667A
  background: $landing-bg-color
  padding-top: 1.375rem
  max-width: 640px
  img
    max-width: 100%
  &-plan
    &-title
      width: 70%
      margin: 3.53rem auto 2.41rem
      img
        width: 100%
      .plan-desc
        color: $white-color
        font-size: .875rem
        text-align: center
        margin-top: .344rem
    &-item
      width: 100%
      position: relative
      padding: .813rem 1.8rem 1.3rem
      background: url('/img/mobile/landing-miya-plan-bg.png') no-repeat center center 
      background-size: 100% 100%
      clearfix()
      .item
        &-index 
          width: 3.72rem
          height: 3.72rem
          position: absolute
          top: -.55rem
          left: 1.1rem
        &-header
          font-size: 1.125rem
          line-height: 2rem
          color: $landing-plan-title
          margin-left: 3.8rem
        &-body
          background: $white-color
          margin: 1rem auto 1.25rem
          text-align: center
          padding: 1.125rem 0
          border-radius: .3rem
          clearfix()
        &-body-rate
          width: 60%
          float: left 
          position: relative
          &-active
            width:37%
          .item-exclusive
            display: inline-block
            padding: 0 0.6rem
            font-size: $font-size-tiny
            border: 1px solid $landing-plan-rate
            border-radius: 1rem 1rem 1rem 0
            color: $landing-plan-rate
            position: absolute
            right: -0.5rem
            top: -0.5rem
            line-height: 1.4rem
            height: 1.4rem    
          .item-miya
            right: -2rem       
        &-body-month
          width: 40%
          float: left
          .item-income
            margin-top: 1.3rem
          .item-desc
            margin-top: .6rem
          &-active
            width: 33%
        &-body-join
          width: 30%
          float: left
          padding-top: 1.6rem
          a
            width: 4.18rem
            height: 1.68rem
            display: inline-block
            border-radius: .125rem
            font-size: .875rem
            line-height: 1.68rem
            color: $white-color
            background: $landing-bg-color
        &-rate
          font-size: $font-size-giant
          color: $landing-plan-rate
          font-weight: bold
          margin-top: 0.5rem
          span 
            font-size: $font-size-large
        &-desc
          font-size: .75rem
          color: $landing-plan-desc
          margin-top: .44rem
        &-example
          width: 55%
          vertical-align: middle
        &-picture
          width: 40%
          margin-left: 4%
          vertical-align: middle
    &-desc
      font-size: .8125rem
      color: $white-color
      margin: .625rem 1.8rem 3.78rem
      span 
        color: $landing-plan-title
  &-first-invest
    text-align: center
    margin: -1.9rem 0 0
    img
      width: 86%
  &-divide
    text-align: center
    margin: 2.5rem auto
    img
      width: 90%
  &-coupon
    .coupon-title
      width: 70%
      display: block
      margin: 0 auto
    a
      display: block
      width: 80%
      margin: 0 auto
    .coupon-detail
      width: 100%
  &-active
      padding: 1.25rem 1.2rem 5rem
  &-active-desc
    background: $landing-active-bg
    padding: 1.125rem .8rem
    font-size: .8125rem
    color: $white-color
    border-radius: 0.32rem
    .desc-title
      text-align: center
    ol
      padding-left: .92rem
      margin-bottom: 0
      td
        width: 25%
  &-signup-button
    position: fixed
    bottom: 0
    width: 100%
    height: 3.0625rem
    background: linear-gradient(-180deg, #FFF36C 0%, #FFC125 100%);
    a
      display: block
      width: 100%
      height: 100%
      padding-top: 1rem
    img
      width: 12.3rem
      height: 1rem
      display: block
      margin: auto
  &-modal
    .riskvail-modal-btn-confirm
      width: 100%
  &-first-invest-top
    margin: 2rem auto 2.5rem
  &-divide-alone
    margin: -1.5rem auto 2rem

