/**
 * variables
 */

$transition-speed       = .3s
$transition-fn          = cubic-bezier(0.32,1.25,0.375,1.15)

$fa-font-path           = "/fonts"

$brand-primary          = #2b9ac8
$brand-primary-hover    = #16b4dc
$brand-primary-active   = #1c85b0

$brand-secondary        = #fba100
$brand-secondary-hover  = #ffbd4a
$brand-secondary-active = #f4a213

$body-bg                = #f7f7f7

$white-color    = #ffffff

$gray-txt-black         = #999999
$text-color             = #333333
$text-black-active      = #666666
$text-primary           = #4a5F65
$text-medium            = #788183
$text-light             = #9ba5a7
$text-gray              = #b8c5c8

$link-color             = $brand-primary-hover
$link-hover-color       = $brand-primary-hover
$link-hover-decoration  = none

$font-size-base         = 1rem                      // 16px
$font-size-giant        = ($font-size-base * 1.6875rem)     // 27px
$font-size-huge         = ($font-size-base * 1.375)   // 22px
$font-size-large        = ($font-size-base * 1.125) // 18px
$font-size-small        = ($font-size-base * 0.875) // 14px
$font-size-tiny         = ($font-size-base * 0.6875) // 12px

$border-color-base      = #cfd4d6
$border-color-light     = #dde3e6
$border-color-gray      = #e2e2e2

$brand-success          = #0dba3a

// ip5 568px
$device-height-ip5      = 560px
// ip6 375px,  greater then 370 was ip6
$device-width-ip6       = 370px
$device-height-ip6      = 660px
// ip6+ 414px,  greate then 410 was ip6+
$device-width-ip6plus   = 410px
$device-height-ip6plus  = 730px

// - buttons

$btn-primary-color      ?= white
//$btn-primary-bg         ?= rgba($brand-primary, .9)
$btn-primary-bg         ?= #3192bb

$btn-secondary-color    ?= white
$btn-secondary-bg       ?= rgba($brand-secondary, .9)

$down-color = #44B907
$up-color = #FF4747