.about-wscredit
  clearfix()
  $gray-dark-color        = #7F7F7F
  $gray-dark              = #9f9f9f
  &-body
    padding: 0
    margin: 0 auto
  &-banner
    width: 100%
    height: 12.5rem
    background: url('/img/mobile/about-wscredit-banner.png') no-repeat center center
    background-size: cover
    img 
      width: 100%
      height: 12.5rem
  &-content
    width: 100%
    position: relative
    height: 18rem
    img
      width: 100%
      height: 18rem
    .title
      position: absolute
      top: 3.71rem
      left: 2.5rem
      font-size: .93rem
      color: $text-color 
      margin: 0 0 .46rem 0
    .introduce
      position: absolute
      top: 5.5rem
      left: 1.8rem
      font-size: .75rem
      color: $gray-dark-color
      margin: 0 0 .93rem 0
    .wscode
      position: absolute
      top: 7.46rem
      left: 2.8rem
      width: 7.37rem
      height: 7.37rem
    .provisions
      position: absolute
      top: 15.21rem
      left: 1.6rem
      font-size: .5rem
      color: $gray-dark
      text-align: center
      width: 9.8rem
    .provisionsios
      padding-top: .7rem  
  &-steps
    &-detail
      &-step
        margin-top: 1.875rem
        width: 100%
        height: 2.5rem 
      .stepone
         background: url('/img/mobile/about-wscredit-stepone.png') no-repeat center center
         background-size: 2.5rem 2.5rem
      .steptwo
        background: url('/img/mobile/about-wscredit-steptwo.png') no-repeat center center
        background-size: 2.5rem 2.5rem
      .stepthree
        background: url('/img/mobile/about-wscredit-stepthree.png') no-repeat center center
        background-size: 2.5rem 2.5rem
      .stepsfour
        background: url('/img/mobile/about-wscredit-stepfour.png') no-repeat center center
        background-size: 2.5rem 2.5rem
      .title
        font-size: .93rem
        color: $text-color 
        text-align: center
        margin: 1.25rem 0 .625rem 0
      p
        font-size: .75rem
        color: $gray-dark-color
        text-align: center
      img
        width: 100%
  &-bottom
    margin-top: 1.875rem
    height: 14.375rem
    background: url('/img/mobile/about-wscredit-bottom.png') no-repeat center center
    background-size: 100% 14.375rem
    .title
      padding-top: 1.5rem
      margin-bottom: .7rem
      text-align: center
      font-size: 1rem
      color: $white-color
    &-code
      width: 100%
      height: 7.84rem
      background: url('/img/mobile/about-wscredit-bottom-code.png') no-repeat center center
      background-size: 7.84rem 7.84rem
    .provisions
      margin: .3rem auto
      text-align: center
      font-size: .5rem
      color: $white-color
      width: 9.81rem
      opacity: 0.8
    .provisionsios
      margin-top: -.3rem
      

        


        