- var _filter = query.filter || 0
ul.nav.nav-tabs
  each val, index in {1:'收益中('+ _productDoingCount + ')', 2:'退出中('+ _productDoneingCount +')', 3:'已退出('+_productDoneCount+')'}
    li(class={active: _filter==index})
      a(href='?filter='+index)= val
