h5
  img(src='/img/prompt.png')
  | 温馨提示：
ol
  li 为了您的账户安全，请在充值前进行身份认证、手机绑定以及交易密码设置。
  li 您的充值金额将会进入恒丰银行存管账户。
  li 请注意您的银行卡充值限制，以免造成不便。
  li 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。
  li 如果充值金额没有及时到账，请联系客服：400-1552-888。