#J_icon-scroll.icon-scroll
  if isLogin && _isJdActiveUser
    #J_jscard-active.icon-item.jdcard-active
      a(href="/landing/jd/redpacket")
  #J_icon-mobile-download.icon-mobile-download.icon-item
    .mobile-download
      .mobile-download-code
        img(src='/img/app-download-code.png')
        p 下载红小宝app
  //- #J_icon-service-tel.icon-service-tel.icon-item
  //-   a(href='http://hoomsun.udesk.cn/im_client?web_plugin_id=35810')
  #J_icon-scroll-top.icon-scroll-top.icon-hide.icon-item