.footer-copyright
  p 红上金融信息服务（上海）有限公司 | Copyright &copy; 2017 红小宝
    a(href='http://www.miitbeian.gov.cn', target='_blank').footer-copyright-user-link #{hoomxbBeian}
    |  |
    a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002582', target='_blank').footer-copyright-user-link  沪公网安备 31010102002582号
  p.footer-copyright-tips-light 市场有风险，出借需谨慎
