ol
  li 邀请好友拆红包，好友拆开红包并注册后，您和好友平分一千元现金红包，用于购买平台产品
  li 好友出借，您可再获得好友注册之日起30日内所有出借金额年化的0.5%返现奖励，奖励发放到您的账户余额，可自由支配
  li 您可以邀请多个好友帮您拆红包，红包金额累计，上不封顶
  li 您可邀请多个好友出借，奖励上不封顶
  li 本活动最终解释权归红小宝所有，如有疑问，请致电400-1552-888