.landing-jd-platform
  .platform-content
    .platform-item.platform-guarantee 三级等保评测
    .platform-item.platform-deposit 恒丰银行资金存管
      .detail(data-toggle='modal', data-target='#platform-deposit') 查看详情
      .modal.fade#platform-deposit(tabindex='-1', role='dialog', aria-hidden='true' )
        .modal-dialog(role="document")
          img(src='/img/hongshang-protocol-01.jpg')
          img(src='/img/hongshang-protocol-02.jpg')
    .platform-item.platform-signup 2亿元注册资本
      .detail(data-toggle='modal', data-target='#signup-capital') 查看详情
      .modal.fade#signup-capital(tabindex='-1', role='dialog', aria-hidden='true' )
        .modal-dialog(role="document")
          img(src='/img/about-company-license.jpg')
    .platform-item.platform-credit 中国小额信贷联盟