.about
  $gray-dark-light   =#666666
  $gray-light     = #263d55
  $gray-content-text = #888888
  $gray-hover-bg = #F5F5F9
  $grey-border = #F55151
  $grey-return-color = #73ADFF
  $grey-ambo-color = #5BD9FF
  $gray-super-black = #151515
  $information-h4 = #4A4A4A
  $conpany-info-dot = #E65255
  $safty-color = #DAEEFF
  $uc-mobile-active-color = #4398f5
  $uc-loan-panel-active-color = #f69907
  $gray-dark-color = #7F7F7F
  $gray-filing-color = #E8E8EB
  $black-dark-light = #000
  &-info
    padding: 20px 0 40px
    background: $body-bg
    ul
      list-style: none
      padding: 0
      margin: 0
    &-title
      padding-left: 10px
      font-weight: 400
      color: $grey-color-dark
      font-size: $font-size-large
      line-height: 24px
      border-left: 3px solid  $grey-border
      margin-bottom: 10px
    &-subject-infor
      padding: 30px 25px
      background: $white-color
    &-container
      background: $white-color
      overflow: hidden
    &-section
      margin-bottom: 100px
      padding: 0 50px
    .big-event
      margin-top: 40px
      padding: 0 50px
    &-header
      margin-bottom: 50px
      text-align: center
      img
        height: 46px
        width: auto
    .deposit-info
      img
        display: block
        margin: 0 auto
        margin-bottom: 30px
      p
        line-height: 19px
        margin-bottom: 10px
        letter-spacing: 1.2px
        color: $gray-dark-light
    &-content
      position: relative
      &-product
        h4
          position: relative
          font-size: $font-size-slightly
          margin-bottom: 30px
          &:before
            content: ''
            position: absolute
            width: 30px
            height: 3px
            background: $grey-border
            bottom: -13px
            left: 0
            border-radius: 15px
        p
          color: $gray-dark-light
          line-height: 19px
          margin-bottom: 10px
          letter-spacing: 1.2px
        .product-intro 
          margin-top: 15px 
          margin-bottom: 50px
          padding-left: 10px
          overflow: hidden
          img
            float: left
            margin-top: 50px
        .income-status
          float: right
          height: 260px
          width: 320px 
          background: url('/img/information_disclosure_product_bg.png')
          background-size: cover
          padding-top: 50px
          padding-left: 30px 
          p
            line-height: 26px
            margin-bottom: 20px
            color: $gray-txt-black
            letter-spacing: 1px
          span
            color: $grey-color-dark
            margin-right: 5px
            &.income
              font-size: $font-size-h4
              color: $grey-border
            &.invest
              font-size: $font-size-h4
            &.time
              font-size: $font-size-h4
            small
              font-size: $font-size-base
      &-riskcontrol
        background: url('/img/information_disclosure_risk_bg.png')
        background-size: cover
        height: 273px
        width: 100%
        padding: 35px 20px 0 20px
        p
          color: $gray-dark-light
          line-height: 26px
          margin-top: 0
          margin-bottom: 10px
          letter-spacing: 0.8px
        span
          color: $grey-border
      &-information
        overflow: hidden
        margin-bottom: 55px
        padding: 0 37px
        h4
          margin-top: 30px
          font-size: $font-size-huge
          color: $information-h4
          line-height: 26px
          margin-bottom: 30px
        p
          color: $gray-dark-light
          line-height: 26px
          letter-spacing: 1px
          width: 470px
        .pull-right
          h4
            text-align: right 
      &-company
        overflow: hidden
        .license
          margin-right: 40px
          cursor: pointer
          img
            width: 175px
            height: 247px
            display: block
          p
            font-size: $font-size-h6
            color: $gray-txt-black
            text-align: center
            margin-top: 10px
        .company-info
          padding: 24px 0 0 16px
          margin: 0
          padding-top: 24px
          list-style: none
          float: left
          width: 766px
          li
            line-height: 19px
            letter-spacing: 1px
            margin-bottom:  18px
            position: relative
            &:before
              content: ''
              display: block
              position: absolute
              left: -16px
              top: 6px
              height: 6px
              width: 6px
              border-radius: 50%
              background: $conpany-info-dot 
      &-staff
        border: 1px solid $grey-border
        padding: 30px 20px
        width: 990px
        background: $white-color
        z-index: 99
        margin-bottom: 6px
        position: relative
        p
          color: $gray-dark-light       
          line-height: 26px
          margin-top: 0
          margin-bottom: 10px
          z-index: 99
      .red-border
        height: 100%
        width: 990px
        position: absolute
        border: 1px solid $grey-border
        left: 6px
        top: 6px
      &-cooperate
        padding: 0
        margin: 0 
        li
          margin-bottom: 40px
          overflow: hidden
        img
          float: left
          width: 100px
          margin-right: 30px
        .cooperater-info
          float: left
          width: 868px
          h4
            font-size: $font-size-middle
            line-height: 1
            margin-top: 0
            margin-bottom: 10px
          p
            color: $gray-dark-light
            line-height: 26px
  &-contact
    min-width: $container-width
    overflow: hidden
    padding: 20px 0 40px
    &-title
      background: url(/img/about-contact-title-bg-0522.jpg) no-repeat center center
      height: 200px
      h3
      p 
        text-indent: -2000px
    ul
      list-style: none
      padding: 0
      margin: 0
    &-infor
      padding: 53px 46px 52px 40px
      letter-spacing: 1px
    &-us
      padding: 30px 40px 0
      &-title
        padding-left: 10px
        margin: 0
        font-size: $font-size-huge
        line-height: 46px
        color: $grey-color-dark
        border-bottom: 1px solid $border-color-light
      &-content
        padding-top: 20px
        clearfix()
    .contact-address
      float: left
      width: 400px
      margin: 30px 0 0 12px
      .contact-item
        margin-bottom: 50px
        font-size: $font-size-slightly
        color: $information-h4
      .content-item-body
        width: 80px
        color: $gray-dark-color
      dd
        width: 296px
        padding-bottom: 6px
        font-size: $font-size-base
        color: $grey-color-dark
        display: inline-block
    .contact-barcode
      float: left
      width: 136px
      margin-top: 50px 
      background-size: cover
      &-hxb
        float: right
      img
        width: 136px
        height: 136px
      &-title
        padding-top: 4px
        font-size: $font-size-h6
        line-height: 12px
        text-align: center
        color: $gray-dark-color
        letter-spacing: .86px
    .map-nav
      width: 586px
      float: right
    .iw_poi_title
      color: #CC5522
      font-weight: bold
      overflow: hidden
      padding-right: 13px
      white-space: nowrap
    .iw_poi_content
      font-size: $font-size-h6
      overflow: visible
      padding-top: 4px
      white-space: -moz-pre-wrap
      word-wrap: break-word
  &-company
    $manage-team-border = #979797
    $manage-name-color =  #55AEFE
    min-width: $container-width
    overflow: hidden
    .case
      background-color: $white-color
      margin: 20px auto 40px
      letter-spacing: 1px
      clearfix()
      .brief
        height: 300px
        color: $white-color
        background: url('/img/about-company-new.jpg') no-repeat
        line-height: 22px
        text-align: justify
      .content
        padding-top: 185px
        width: 973px
        margin: 0 auto
      .enterprise-intro
        margin: 40px 0 100px 0
        clearfix()
        img
          vertical-align: bottom
      .sense-worth
        float: left
        margin: 0 250px 0 175px
      .mission
        float: left
        margin-right: 50px
      .enterprise-content
        display: inline-block 
        margin-left: 40px
        padding-top: 10px 
      .title
        width: 97px
        height: 26px
        font-size: $font-size-large
        color: $grey-color-dark
        line-height: 25px
        text-align: left
        margin: 0 0 0 0 
      .goal
        font-size: $font-size-base
        color: $gray-dark-light
        line-height: 25px
      .shareholder-information
        position: relative
      .organizational-structure
        &-img
          text-align: center
          margin: 36px auto 0
    &-introduction
      margin-bottom: 80px
      padding: 0px 50px
      clearfix()
      h4
        font-size: $font-size-large
        color: $grey-color-dark
        line-height: 18px
        position: relative
        width: 100px
        padding-left: 13px
        &:before
          content: ''
          width: 3px
          height: 17px
          background: $grey-border
          position: absolute
          left: 0px
      .license
        margin: 30px 0 0 104px
        float: left
        img
          width: 115px
          height: 170px
          cursor: pointer
      .company-information
        float: left
        margin: 72px 0 30px 60px
        line-height: 14px
        p
          height: 14px
          margin-bottom 10px
          color: $grey-color-dark
          font-size: $font-size-base
      .company-information-last
        margin-left: 66px
      .character-introduction-head
        width: 100%
        a
          float: right
          margin: -28px 63px 0 0
          cursor: pointer
          color: $gray-txt-black
      .character-introduction-body
        position: relative
        margin-top: 24px
        &:before
          content: ''
          width: 20px
          height: 14px
          background-color: $manage-name-color
          display: block
        &:after
          position: absolute
          content: ''
          width: 2px
          height: 110px
          background: linear-gradient(-180deg, $manage-name-color 0%, rgba(85,174,254,0.00) 95%)
          top: 0
          left: 0
        ul
          padding-left: 14px
        li
          list-style: none
          font-size: $font-size-middle
          color: $grey-color-dark
          line-height: 36px
          span
            display: inline-block
            float: right
            font-size: $font-size-base
            color: $grey-color
      .shareholder-info
        margin-top: 12px
        padding-left: 14px
      .name
        font-size: $font-size-huge
        line-height: 18px
        color:  $manage-name-color
      .describe
        font-size: $font-size-base
        line-height: 20px
        color: $grey-color
      .introduce
        font-size: $font-size-base
        color: $grey-color-dark
        display: inline-block
        padding-left: 10px
      .all-manage-info
        display: inline-block
        float: right
        margin-right: 10px
        color: $gray-txt-black
        cursor: pointer
        &:hover
          color: $gray-txt-black
      .management-team-modal
        .manage-title
          font-size: $font-size-huge
          text-align: center
          color: $grey-color-dark
          margin: 25px 0 20px
        .modal-dialog
          margin-top: 10%
        table
          width: 80%
          text-align: center
          margin: 0 auto 40px
        th, td
          border: 1px solid $manage-team-border
          text-align: center
          line-height: 40px
          color: $grey-color
        th
          color: $grey-color-dark
        .manage-name
          width: 34%


      .employee-information
        clearfix()
        &-head
          color: $grey-color-dark
          font-size: $font-size-base
        &-body
          width: 973px
          color: $grey-color-dark
          margin: 28px auto 0
          clearfix()
          .recommend
            width: 240px
            margin-right: 126px
            float: left
          .recommend-last
            margin-right: 0px
          p
            text-align: center
            font-size: $font-size-base
            color: $grey-color-dark
            margin-top: 40px
      .item-info-chart
        width: 240px
        height: 170px
      .item-info-body
        float: left
        margin: 20px 10px 0px 80px
        font-size: $font-size-base
        color: $gray-base
        line-height: 14px
      .item-info-content
        text-align: left
        font-size: $font-size-small
        color: $grey-color-dark
        margin-bottom: 10px
        position: relative
        &:before
          content: ''
          display: block
          width: 10px
          height: 10px
          background: $uc-mobile-active-color
          position: absolute
          left: -20px
          top: 3px
      .red:before
        background: $grey-border
      .orange:before
        background: $uc-loan-panel-active-color
      .item-info-body-last
        width: 200px
        margin-left: 90px
    &-team
      overflow: hidden
      margin: 190px auto 40px
      padding: 0 40px
      .team-intro
        padding: 0 10px
      .title-intro
        font-size: $font-size-h4
        color: $grey-color-dark
        text-align: center
        padding: 0 0 10px 10px
        margin: 0 0 30px 0
        &:before
        &:after
          content: ''
          width: 15px
          height: 2px
          background: $grey-ambo-color
          display: inline-block
          vertical-align: 5px
      p
        color: $gray-dark-light
        line-height: 33px
        text-indent: 2em    
  &-dynamic
    .case
      background-color: $white-color
      margin: 20px auto 40px
    .header-line
      width: 100%
      height: 4px
      background-color: $blue-linghter-color
      border-radius: 2px
    &-title-revised
      border-bottom: none
      font-size: $font-size-large
      line-height: 24px
      border-left: 3px solid  $grey-border
      margin-bottom: 10px
    &-title
      width: 1020px
      margin: 40px auto 10px 40px
      padding: 0 0 10px 10px
      font-size: $font-size-huge
      color: $gray-txt-light
      border-bottom: solid 1px $gray-lighter
    &-list
      .dynamic-item
        width: 1050px
        height: 184px
        list-style: none
        padding: 30px 25px
        border-top: solid 1px $gray-lighter
        display: block
        margin:0 auto;
        &:nth-child(1)
          border: none
        &:hover
          background-color: $gray-hover-bg
          cursor: pointer
        img
          float: left
          width: 227px
          height: 124px
        .heading
          font-size: $font-size-middle
          color: $gray-txt-light
          line-height: 26px
          text-align: center
          float: left
          margin: 0 0 20px 57px
        .describe
          width: 716px
          height: 78px
          font-size: $font-size-base
          color: $gray-dark-light
          line-height: 26px
          text-align: justify
          float: left
          margin-left: 57px
    .content
      padding: 30px 40px
      .sub-title
        font-size: $font-size-h4
        text-align: center
        color: $gray-txt-light
      .author-date
        margin-top: 12px
        text-align: center
        color: #aaaaaa
      .main-content
        color: $gray-content-text
        text-indent: 2em
        line-height: 25px
        letter-spacing: 1px
        padding: 30px 0
      .img-box
        padding: 20px
        box-sizing: border-box
        max-width: 100%
        display: block
        margin: 0 auto
      .strong
        font-weight: bold
      .line-left
        border-left: 3px solid rgb(170, 166, 149)
      .line-right
        border-left: 1px solid rgb(170, 166, 149)
        margin-left: 5px
      .double-border-title
        display: inline-block
        padding: 6px 0
        font-size: 14px
        color: $gray-txt-light
        font-weight: bold
      .main-space
        padding: 12px 0
      .main-text
        color: #366092
        font-size: $font-size-middle
      .main-foot
        color: $gray-content-text
        text-indent: 0
        margin-top: 20px
      .main-remark
        margin: 10px 0
        padding: 20px 30px
        background-color: #f9f9f9
        border: 1px solid #f4f4f4
        border-radius(3px)
        line-height: 30px
        text-indent: 2em
  &-job
    overflow: hidden
    $header-base-color  =  #F2F6FA
    .case
      background-color: $white-color
      margin: 20px auto 40px
      padding-bottom: 40px
    .header-line
      width: $container-width
      height: 4px
      background-color: $blue-linghter-color
      border-radius: 2px
    &-title
      width: 1020px
      font-size: $font-size-huge
      color: $gray-txt-light
      text-align:left
      border-bottom: solid 1px $gray-lighter
      padding: 0 10px 10px 0
      margin: 30px auto 50px 40px
    &-list
      width: 1020px
      margin: 50px auto 0 auto
      background-color: $header-base-color
      height: 45px
      .nav
        &-info
          width: 697px
          height: 45px
          float: left
          margin-left: 30px
          &-name
            font-size: $font-size-base
            float: left
            line-height: 45px
            color: $gray-txt-black
          &-dept
            font-size: $font-size-base
            float: right
            line-height: 45px
            color: $gray-txt-black
          &-place
            font-size: $font-size-base
            color: $gray-txt-black
            float: right
            margin-right: 30px
            line-height: 45px
    .job-item
        width: 1020px
        margin: 20px auto 0 auto
        border: solid 1px $gray-lighter
        overflow: hidden
        box-sizing: border-box
        &:hover
          box-shadow:0 1px 2px 3px rgba(0,0,0,0.03)
    .job-info
        width: 1020px
        height: 86px
        &-left
          width: 697px
          height: 84px
          float: left
          margin-left: 30px
    .job-name
        font-size: $font-size-base
        float: left
        line-height: 40px
        color: $gray-txt-light
        margin-top:22px
      .new
        width: 41px
        height: 21px
        font-size: $font-size-h6
        margin: 31px auto auto 10px
        line-height: 21px
        background-color: $base-red-color
        color: $white-color
        float: left
        text-align: center
      .job-dept
        font-size: $font-size-base
        float: right
        line-height: 40px
        margin-top: 22px
        color: $gray-txt-light
      .job-place
        font-size: $font-size-base
        color: $gray-txt-light
        float: right
        margin: 22px 30px 20px auto
        line-height: 40px
      .map
        width: 9px
        height: 19px
        font-size: $font-size-large
        color: $base-red-color
        margin: 0 6px 0 0
      .condition
        padding: 30px 0 0
        border-top: solid 1px $gray-lighter
        display: none
        &-item
          overflow: hidden
        &-disc
          width: 6px
          height: 6px
          border-radius: 50%
          background-color: $base-red-color
          margin: 7px 10px 0 30px
          float: left
          display: block
        &-describe
          float: left
          font-size: $font-size-middle
          color: $gray-txt-light
          width: 970px
          &-list
            margin: 30px auto 30px 46px
          &-item
            list-style: none
            margin-left: 6px
            font-size: $font-size-base
            line-height: 34px
            color: $gray-dark-light
            text-align: justify
    .selected
      display: block
  &-announcement
    min-width: $container-width
    overflow: hidden
    .case
      background-color: $white-color
      margin: 20px auto 40px
    .header-line
      width: $container-width
      height: 4px
      background-color: $blue-linghter-color
      border-radius: 2px
    &-title
      background: url('/img/about-announcement-new.jpg') no-repeat center center
      height: 200px
      h3
      p
        text-indent: -2000px
    &-content
      padding: 50px 40px 40px
      .sub-title
        font-size: $font-size-h3
        text-align: left
        color: $grey-color-dark
        margin-left: 50px
    &-container
      margin-bottom: 40px
    &-items
      width: 1020px
      height: 65px
      padding: 20px 30px
      margin-bottom: 5px
      cursor: pointer
      position: relative
      transition: .2s
      &:hover
        box-shadow: 0 0 18px 0 #e7e7ea 
      &:hover
        .notice,.announcement-link,.date
          font-weight: bold
      .notice
        font-size: $font-size-middle
        line-height: 30px
      .announcement-link
        color: $gray-txt-light
        margin-left: 16px
        line-height: 65px
        display: block
        width: 100%
        height: 65px
        position: absolute
        top: -1px
        left: 40px
      .date
        width: auto
        float: right
        line-height: 30px
        color: $gray-dark-color
    .even
      background-color: $grey-linghter
    .odd
      background-color: $white-color
    &-detail
      .case
        background-color: $white-color
        margin: 20px auto 40px
        padding-bottom: 40px
      .return
        float: left
        margin: -40px 0 0 90px
        color: $grey-return-color
      .header-line
        width: $container-width
        height: 4px
        background-color: $blue-linghter-color
        border-radius: 2px
      &-title
        width: 1020px
        font-size: $font-size-huge
        color: $gray-txt-light
        text-align:left
        margin: 20px auto 30px 40px
      &-container
        width: 920px
        margin: 40px 50px
  &-safety
    min-width: $container-width
    overflow: hidden
    .case
      background-color: $white-color
      margin: 20px auto 40px
    &-system-title
      background: url('/img/about-safety-new.jpg') no-repeat center center
      height: 200px
      h3
      p
        text-indent: -2000px
    &-organ
      letter-spacing: 1px
    &-content
      overflow: hidden
      padding: 10px 50px 0px
      .info-wrap
        margin-bottom: 50px
    &-deposit
      &-text
        width: 430px
        font-size: $font-size-base
        color: $grey-color-dark
        letter-spacing: 1px
        line-height: 26px
        position: absolute
        top: 50%
        transform: translateY(-50%)
    &-wrap
      clearfix()
      position: relative
    &-left
      float: left
      padding-left: 13px
    &-right
      float: right
    &-title
      font-size: $font-size-large
      line-height: 18px
      color: $grey-color-dark
      letter-spacing: 1px
      position: relative
      padding-left: 13px
      margin: 50px 0
      &:before
        content: ''
        display: inline-block
        width: 3px
        height: 17px
        position: absolute
        background: $grey-border
        left: 0px
        top: 0px
    &-info-ensure
      .info-line
        width: 2px
        height: 500px
        background: $safty-color
        margin: 0 auto
        position: absolute
        left: 50%
        transform: translateX(-50%)
        &:before
          content: ''
          display: block
          width: 84px
          height: 28px
          position: absolute
          background: url('/img/about-safety-info-arrow.png') no-repeat center center
          top: 90px
          left: -13px
      .info-title
        font-size: $font-size-h3
        color: $grey-color-dark
        letter-spacing: 2px
        position: relative
        height: 127px
        line-height: 127px
        &:before
          content: ''
          display: block
          position: absolute
          width: 160px
          height: 127px
          background: url('/img/about-safety-info-title-bg.png') no-repeat
    &-develop
      .info-title
        &:before
          background-position: 0 0
          background-size: 169px 385px
    &-intent
      .info-line
        &:before
          background: url('/img/about-safety-info-left-arrow.png') no-repeat center center
          left: -70px
      .info-title
        text-align: right
        &:before
          right: 0
          background-position: 0 -129px
          background-size: 169px 385px
    &-backups
      .info-title
        &:before
          background-position: 0 -256px
          background-size: 169px 385px
    &-info-small-img
      padding-right: 60px
    &-info-content
      width: 400px
      .info-text
        font-size: $font-size-base
        color: $grey-color
        letter-spacing: 1px
        line-height: 26px
        text-align: justify
    .cooperater-info
      float: left
      width: 862px
      p
        text-align: justify
  &-risk    
    min-width: $container-width
    overflow: hidden
    .case
      background-color: $white-color
      margin: 20px auto 40px
      padding-bottom: 50px
    &-system-title
      background: url('/img/about-risk-new.jpg') no-repeat center center
      height: 200px
      h3
      p 
        text-indent: -2000px
    &-content
      overflow: hidden
      padding: 10px 50px 0px
      .info-wrap
        margin-bottom: 50px
    &-manage
      &-wrap
        text-align: center
      img
        width: 90%
    &-flow-show
      width: 940px
      overflow: hidden
      margin: 0 auto
    &-flow
      clearfix()
      &-title
        font-size: $font-size-middle
        color: $grey-color-dark 
        letter-spacing: 1px
        line-height: 22px
      &-desc
        font-size: $font-size-base
        color: $grey-color
        letter-spacing: 1px
        line-height: 20px
        text-align: justify
      &-wrap 
        float: left
        list-style: none
        width: 160px
        margin-right: 40px
        text-align: center
        position: relative
        .risk
          &-icon
            width: 82px
            height: 82px
            margin: 0 auto
            margin-bottom: 30px
            background: url('/img/about-risk-manage-list.png') no-repeat 
          &-custom
            background-position: 0 0
            background-size: 82px 467px
          &-search
            background-position: 0 -96px
            background-size: 82px 467px
          &-colligate
            background-position: 0 -193px
            background-size: 82px 467px
          &-credit
            background-position: 0 -289px
            background-size: 82px 467px
          &-assess
            background-position: 0 -385px
            background-size: 82px 467px
        &:after
          content: ''
          width: 16px
          height: 24px
          position: absolute
          top: 30px
          right: -26px
          background: url('/img/about-risk-grey-arrow.png') no-repeat center center
        &:first-child
          width: 106px
          margin-right: 70px
          &:after
            right: -56px
      .flow-no-arrow
        margin-right: 0
    &-title
      font-size: $font-size-large
      line-height: 18px
      color: $grey-color-dark
      letter-spacing: 1px
      position: relative
      padding-left: 13px
      margin: 50px 0
      &:before
        content: ''
        display: inline-block
        width: 3px
        height: 17px
        position: absolute
        background: $grey-border
        left: 0px
        top: 0px
    .flow-margin
      margin-top: 80px
    .title-margin
      margin-top: 80px
      margin-bottom: 30px
    &-warning-wrap
      font-size: $font-size-base
      color: $grey-color-dark 
      letter-spacing: 1px
      line-height: 30px
      padding-left: 14px
  &-platform
    $deal-bg = #f8fbff
    $deal-title-color = #1598F4
    $user-bg = #fffcf8
    $user-title-color = #FF9E00
    $loan-th-bg = #f8fbff
    $loan-thead-border = #e3e9f3
    $loan-table-border = #284583
    $loan-tips-color = #8dd2ff
    padding: 20px 0 40px
    .case
      background: $white-color
      letter-spacing: 1px
    &-title
      height: 200px
      background: url(/img/about-platform-title-bg-0522.jpg) no-repeat
      padding: 40px 0 0 150px
      color: $white-color
      position: relative
      margin-bottom: 50px
      h3
      p 
        text-indent: -2000px
    &-date
      position: absolute
      bottom: 10px
      right: 20px
    &-record
      padding: 0 50px 70px
    &-list
      overflow: hidden
      h4
        border-left: 3px solid $red-color
        padding-left: 10px
        line-height: 17px
      dl
        width: 33.33%
        text-align: center
        float: left 
        margin: 0
      dt
        font-size: $font-size-h2
        font-weight: normal
    &-deal
      &-body
        padding: 22px 0
        background: $deal-bg
        margin: 32px 0 12px
        overflow: hidden
        clearfix()
        dt
          color: $deal-title-color
      &-footer
        color: $gray-txt-black
        text-align: right    
    &-user
      margin-top: 60px
      &-body
        padding: 22px 0
        background: $user-bg
        margin: 32px 0 12px
        overflow: hidden
        clearfix()  
        dt
          color: $user-title-color
    &-loan
      padding-bottom: 70px
      margin-top: 60px
      h4
        margin-bottom: 40px
      &-header
        width: 329px
        height: 473px
        float: left
        background: url('/img/about-platform-loan-bg.png') no-repeat
        padding: 96px 34px 0 30px
        margin-left: -4px
        dl
          width: 100%
          border-bottom: 1px dashed $gray-txt-black
          padding: 30px 0 26px
        dd
          color: $gray-txt-black
        .about-platform-loan-header-last
          border-bottom: none
          padding-bottom: 0
      &-body
        margin-left: 340px
        padding-top: 50px
        table
          border: 1px solid $loan-table-border
        th
          background: $loan-th-bg
          padding: 15px 0
          text-align: center
        td
          text-align: center
          padding: 8px 0
        thead
          border-bottom: 1px solid $loan-thead-border
    &-overdue
      h4
        margin-bottom: 40px
      dl
        width: 16.6%
      dd
        color: $gray-txt-black
  &-report
    padding: 20px 0 40px
    .case
      background: $white-color
    &-main
      padding: 60px 120px
    .right
      float: right
    img
      width: 370px
      height: 488px
    &-title
      background: url(/img/about-report-title-bg-0522.jpg) no-repeat center center 
      height: 199px
      h3 
        text-indent: -2000px
    &-2016
      padding: 20px 0
      &-content
        background: $white-color
        min-width: $container-width
      &-banner
        background: url('/img/about-report-2016-banner.png') no-repeat center center
        height: 618px
        margin-bottom: 120px
      &-achievement
        height: 364px
        background: url('/img/about-report-2016-achievement.png') no-repeat center center
        margin-bottom: 150px
      &-people-ratio
        height: 652px
        background: url('/img/about-report-2016-people-ratio.png') no-repeat center center
        margin-bottom: 128px
      &-sex-ratio
        height: 708px
        background: url('/img/about-report-2016-sex-ratio.png') no-repeat center center
        margin-bottom: 120px
      &-region
        height: 471px
        background: url('/img/about-report-2016-region.png') no-repeat center center
        margin-bottom: 120px
      &-amount-ratio
        height: 673px
        background: url('/img/about-report-2016-amount-ratio.png') no-repeat center center
        margin-bottom: 112px
      &-borrow
        height: 709px
        background: url('/img/about-report-2016-borrow.png') no-repeat center center
        margin-bottom: 120px
      &-borrow-title
        height: 129px
        background: url('/img/about-report-2016-borrow-title.png') no-repeat center center
        margin-bottom: 120px
        margin-right: 660px
      &-trade
        height: 691px
        background: url('/img/about-report-2016-trade.png') no-repeat center center
        margin-bottom: 150px
        margin-right: 94px
      &-use
        height: 528px
        background: url('/img/about-report-2016-use.png') no-repeat center center
        margin-bottom: 120px
      &-borrow-region
        height: 482px
        background: url('/img/about-report-2016-borrow-region.png') no-repeat center center
        margin-bottom: 140px
      &-footer
        height: 438px
        background: url('/img/about-report-2016-footer-new.png') no-repeat center center
  &-product
    $product-desc-bg = #F0F0F0
    $product-desc-gray-lighter = #999999
    $product-desc-link = #73A3FF
    $product-fees-border =  #979797
    padding: 20px 0 40px
    .case
      background: $white-color
      letter-spacing: 1px
    &-title
      height: 200px
      background: url('/img/about-product-banner.png') center center no-repeat
      h3
      p
        text-indent: -2000px
    &-intro
      padding: 50px 50px 0
      h4
        border-left: 3px solid $grey-border
        padding-left: 10px
        line-height: 17px
      &-loan
      &-plan
        line-height: 26px
        margin: 50px 0 0
        padding: 0 10px
        color: $grey-color-dark
        p
          margin: 0 auto
        img
          margin: 50px 0 100px
        .plan-desc
          margin-top: 80px
        .fee-detail-title
          text-align: center
          color: $grey-color-dark
          font-size: $font-size-huge
          margin: 5px 0 20px
        table
          margin: 0 25px 25px
        td, th
          text-align: center
          border: 1px solid  $product-fees-border
          line-height: 40px
        th
          color: $grey-color-dark
          font-weight: normal
        td
          color: $grey-color
          p
            margin: 6px 10px
            line-height: 20px
        .type
          width: 33%
        .modal
          .modal-dialog
            margin: 10% auto
      &-desc
        float: right
        margin: 50px 10px 0 0
        width: 360px
        box-shadow: 0 1px 20px 0 $product-desc-bg
        padding: 48px 0 48px 30px
        li
          list-style: none
          color: $product-desc-gray-lighter
          margin-bottom: 20px
        span
          display: inline-block
          padding: 0 4px
          font-size: $font-size-h4
          color: $grey-color-dark
        a
          color: $product-desc-link
          cursor: pointer
        .item-repay
          font-size: $font-size-base
        .item-last
          margin: 0
  &-audit
    padding: 20px 0 40px
    .case
      background: $white-color
      letter-spacing: 1px
    &-title
      height: 200px
      background: url('/img/about-audit-title-bg-0522.jpg') center center no-repeat
      h3
      p 
        text-indent: -2000px
    &-content
      text-align: center
      .nothing-data
        padding: 224px 0 120px
        img
          width: 172px
          height: 175px
          margin: 0 auto 12px
        p
          font-size: $font-size-middle
          color: $grey-color-dark
          padding-left: 20px
  &-sevenreport
    min-width: $container-width
    background: $white-color
    &-banner
      min-width: $container-width
      overflow: hidden
      height: 633px
      background: url('/img/about-sevenreport-banner-top.jpg') no-repeat top center
      &-desc
        height: 440px
        background: url('/img/about-sevenreport-banner-desc.png') no-repeat top center
    &-content
      position: relative
      top: -80px
      min-width: $container-width
    &-glance
      height: 547px
      background: url('/img/about-sevenreport-glance.png') no-repeat top right
    &-lender-title
      margin-top: 70px
      height: 141px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-title.png') no-repeat top center
    &-lender-age
      height: 622px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-age.png') no-repeat top center
    &-lender-sex
      height: 329px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-sex.png') no-repeat top center
    &-lender-area
      height: 416px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-area.png') no-repeat top center
    &-lender-nice
      height: 328px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-nice.png') no-repeat top center
    &-lender-loan-amount
      height: 304px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-lender-loan-amount.png') no-repeat top center
    &-lender-loan-user
      height: 369px
      margin-bottom: 70px
      background: url('/img/about-sevenreport-lender-loan-user.png') no-repeat top center
    &-borrow-title
      height: 138px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-borrow-title.png') no-repeat top center
    &-borrow-sex
      height: 319px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-borrow-sex-new.png') no-repeat top center
    &-borrow-area
      height: 548px
      margin-bottom: 100px
      background: url('/img/about-sevenreport-borrow-area.png') no-repeat top center
    &-borrow-use
      height: 333px
      margin-bottom: 150px
      background: url('/img/about-sevenreport-borrow-use.png') no-repeat top center
    &-footer
      overflow: hidden
      height: 483px
      background: url('/img/about-sevenreport-footer.png') no-repeat top center
      .footer-qrcode
        text-align: center
        margin-top: 158px
        p
          font-size: $font-size-large
          color: $grey-color
          margin-top: 20px
          text-align: center
      .qrcode-wrap
        display: inline-block
      .weixin-qrcode
        margin-left: 140px
      img
        width: 160px
        height: 160px
        display: block
    .report-title
      border-bottom: 1px solid $french-grey-color
  &-law
    $about-law-item-even = #fafafa
    $about-law-item-active-box = #e7e7ea
    padding: 20px 0 40px
    &-title
      background: url('/img/about-law-banner.png') no-repeat center center
      height: 200px
      h3
      p
        text-indent: -2000px
    &-container
      padding: 53px 46px 52px 40px
      letter-spacing: 1px
      background: $white-color
      .even
        background-color: $about-law-item-even
    &-item
      width: 1020px
      height: 65px
      margin-bottom: 5px
      cursor: pointer
      position: relative
      transition: .2s
      a
        color: $grey-color-dark
        display: inline-block
        width: 100%
        line-height: 65px
        padding-left: 30px
      &:hover
        box-shadow: 0 0 18px 0 $about-law-item-active-box
        a
          font-weight: bold
          color: $grey-color-dark
  &-filing
    padding: 20px 0 40px
    &-title
      background: url('/img/about-file-title-bg-0522.jpg') no-repeat center center
      height: 200px
      h3
      p 
        text-indent: -2000px
    &-wrap
      padding-top: 100px
    &-container
      background: $white-color
      position: relative
      padding: 40px 50px 24px
      clearfix()
      .process-cfca
        margin-top: 70px
      .process-safe
        margin-top: 250px
      .process-soldier
        margin-top: 300px
      .process-optimize
        margin-top: 296px
      .process-online
        margin-top: 300px
      .filing-process
        width: 454px
        border: 1px solid $gray-filing-color
        border-radius: 2px
        position: relative
        margin-bottom: 20px
        padding-bottom: 10px
        &:before 
          content: ''
          display: block
          position: absolute
          width: 9px
          height: 18px 
          top: 26%
          background: url('/img/about-file-arrows.png') no-repeat 0 0
        &:after 
          content: ''
          display: block
          position: absolute
          width: 15px
          height: 15px 
          top: 26%
          background: url('/img/about-file-time-tip.png') no-repeat 0 -19px
        &-time
          margin: 20px auto 6px
          font-size: $font-size-h4
          line-height: 24px
          color: $black-dark-light
        p
          font-size: $font-size-base
          color: $grey-color
          line-height: 20px
      &-left
        float: left
        text-align: right
        .filing-process
          padding-right: 22px
          &:before 
            right: -8px
            top: 26%
          &:after
            right: -54px
      &-right
        float: right
        text-align: left
        .filing-process
          padding-left: 22px
          &:before 
            left: -8px
            background-position: 0 -32px
          &:after
            left: -55px
      .first
        &:after 
          background-position: 0 0
          top: 16%
        &:before 
          top: 16%
      .filing-line
        background: url('/img/about-file-line.png') no-repeat center center
        width: 60px
        height: 1438px
        margin: 0 auto
      .container-bottom
        background: url('/img/about-file-footer.png') no-repeat center center
        height: 207px
        position: absolute
        bottom: 0
        right: 0
        left: 0