.agreement
  &-container
    background: $white-color
    margin: 20px auto 40px
    padding: 40px 30px
    h4
      text-align: center
      font-weight: normal
      margin: 40px 0
    h5
      font-weight: 700
      line-height: 30px
    td,th
      padding-left: 10px
      height: 32px
      border: 1px solid $gray-txt-black
      line-height: 32px
      width: 15%
    .align
      text-align: right 
  &-plan-detail
    td
      width: 60%
  &-loan-penalize
    th
      width: 30%
    td
      width: 35%
  &-footer
    padding-bottom: 80px
    position: relative
    img
      width: 120px
    &-title
      margin: 40px 0  
  &-signature-zx
    position: absolute
    bottom: 140px
    left: 60px
  &-signature
    position: absolute
    bottom: 60px
    left: 220px
  &-signature-plan
    position: absolute
    bottom: 60px
    left: 60px  