_bgp()
  background-position: arguments
.bank
  // &-icon
  //   display: inline-block
  //   width: 134px
  //   height: 36px
  //   border: 1px solid $border-color
  //   background: url('/img/bank.png') no-repeat 0 0
  //   cursor: pointer
  //   &-yeepay
  //     _bgp(0, 0)
  //   &-0102
  //     _bgp(0, -50px)
  //   &-0103
  //     _bgp(0, -100px)
  //   &-0104
  //     _bgp(0, -150px)
  //   &-0105
  //     _bgp(0, -200px)
  //   &-0301
  //     _bgp(0, -250px)
  //   &-0302
  //     _bgp(0, -300px)
  //   &-0303
  //     _bgp(0, -350px)
  //   &-0304
  //     _bgp(0, -400px)
  //   &-0305
  //     _bgp(0, -450px)
  //   &-0306
  //     _bgp(0, -500px)
  //   &-0307
  //     _bgp(0, -800px)
  //   &-0308
  //     _bgp(0, -550px)
  //   &-0309
  //     _bgp(0, -600px)
  //   &-0310
  //     _bgp(0, -650px)
  //   &-0313
  //     _bgp(0, -700px)
  //   &-0315
  //     _bgp(0, -880px)
  //   &-0316
  //     _bgp(0, -840px)
  //   &-0319
  //     _bgp(0, -920px)
  //   &-0403
  //     _bgp(0, -750px)
  //   &-0410
  //     _bgp(0, -800px)
  //   &-0000
  //     _bgp(0, -964px)
  &-logo
    &-img
      display: inline-block
      width: 30px
      height: 30px
      background: url('/img/bank_icon.png') no-repeat -6px 0
      vertical-align: middle
      margin-right: 10px
    &-0160
      _bgp(-6px, 0)
    &-0150
      _bgp(-6px, -38px)
    &-0210
      _bgp(-6px, -80px)
    &-0220
      _bgp(-6px, -122px)
    &-5006
      _bgp(-6px, -166px)
    &-5002
      _bgp(-6px, -212px)
    &-0201
      _bgp(-6px, -256px)
    &-5007
      _bgp(-6px, -296px)
    &-5004
      _bgp(-6px, -336px)
    &-5003
      _bgp(-6px, -380px)
    &-5012
      _bgp(-6px, -426px)
    &-5000
      _bgp(-6px, -467px)
    &-5001
      _bgp(-6px, -510px)
    &-5008
      _bgp(-6px, -545px)
    &-5010
      _bgp(-6px, -700px)
    &-5009
      _bgp(-6px, -590px)
    &-5005
      _bgp(-6px, -635px)
    &-0170
      _bgp(-6px, -679px)
    &-5011
      _bgp(-6px, -720px)
    &-5013
      _bgp(-6px, -800px)
    &-1114
      _bgp(-6px, -760px)
  &-icon
    display: inline-block
    width: 196px
    height: 48px
    background: url('/img/bank_logo_all.png') no-repeat 0 0
    vertical-align: middle
    position: relative
    z-index: 2
    &-0160
      _bgp(0, 2px)
    &-0150
      _bgp(0, -56px)
    &-0210
      _bgp(0, -116px)
    &-0220
      _bgp(0, -176px)
    &-5006
      _bgp(0, -237px)
    &-5002
      _bgp(0, -296px)
    &-0201
      _bgp(0, -356px)
    &-5007
      _bgp(0, -416px)
    &-5004
      _bgp(0, -476px)
    &-5003
      _bgp(0, -536px)
    &-5012
      _bgp(0, -596px)
    &-5000
      _bgp(0, -657px)
    &-5001
      _bgp(0, -716px)
    &-5008
      _bgp(0, -776px)
    &-5010
      _bgp(0, -837px)
    &-5009
      _bgp(0, -897px)
    &-5005
      _bgp(0, -956px)
    &-0170
      _bgp(0, -1017px)
    &-5011
      _bgp(0, -1076px)
    &-5013
      _bgp(0, -1136px)
    &-1114
      _bgp(0, -1197px)
    &-0250
      _bgp(0, -1256px)
    &-5186
      _bgp(0, -1317px)   
  &-ebank-icon
    display: inline-block
    width: 196px
    height: 48px
    background: url('/img/bank_logo_all.png') no-repeat 0 0
    vertical-align: middle
    position: relative
    z-index: 2
    &-3002
      _bgp(0, 2px)
    &-3005
      _bgp(0, -56px)
    &-3026
      _bgp(0, -116px)
    &-3003
      _bgp(0, -176px)
    &-3001
      _bgp(0, -237px)
    &-3022
      _bgp(0, -296px)
    // &-3020
    //   _bgp(0, -356px)
    &-3009
      _bgp(0, -416px)
    &-3006
      _bgp(0, -476px)
    &-3050
      _bgp(0, -536px)
    &-3032
      _bgp(0, -596px)
    &-3038
      _bgp(0, -657px)
    &-3039
      _bgp(0, -716px)
    // &-3004
    //   _bgp(0, -776px)
    // &-5010
    //   _bgp(0, -837px)
    &-3035
      _bgp(0, -897px)
    &-3036
      _bgp(0, -956px)
    // &-3040
    //   _bgp(0, -1017px)
    // &-3034
    //   _bgp(0, -1076px)
    &-3059
      _bgp(0, -1136px)
    // &-3042
    //   _bgp(0, -1197px)
    // &-3046
    //   _bgp(0, -1256px)
    // &-3037
    //   _bgp(0, -1317px)                    
  &-largelogo
    width: 174px
    height: 176px
    display: block
    position: absolute
    right: -34px
    top: -4px
    background: url('/img/bank_logo_bg_new.png') no-repeat 166px 0 $white-color
    &-0160
      _bgp(0, 0px)
    &-0150
      _bgp(0, -187px)
    &-0210
      _bgp(0, -377px)
    &-0220
      _bgp(0, -566px)
    &-5006
      _bgp(0, -757px)
    &-5002
      _bgp(0, -953px)
    &-0201
      _bgp(0, -1137px)
    &-5007
      _bgp(0, -1331px)
    &-5004
      _bgp(0, -1516px)
    &-5003
      _bgp(0, -1707px)
    &-5012
      _bgp(0, -1899px)
    &-5000
      _bgp(0, -2090px)
    &-5001
      _bgp(0, -2280px)
    &-5008
      _bgp(0, -2467px)
    &-5010
      _bgp(0, -2658px)
    &-5009
      _bgp(0, -2849px)
    &-5005
      _bgp(0, -3041px)
    &-0170
      _bgp(0, -3227px)
    &-5011
      _bgp(0, -1076px)
    &-5013
      _bgp(0, -1136px)
    &-1114
      _bgp(0, -1197px)
    &-0250
      _bgp(0, -1256px)
    &-5186
      _bgp(0, -1317px)
  &-simplelogo
    width: 40px
    height: 40px 
    float: left
    margin: 15px 16px 15px 20px
    border: none
    z-index: 2
    background: url('/img/bank_logo_simple.png') no-repeat 40px 0 
    &-0160
      _bgp(-2px, 0)
    &-0150
      _bgp(-2px, -60px)
    &-0210
      _bgp(-2px, -120px)
    &-0220
      _bgp(-2px, -180px)
    &-5006
      _bgp(-2px, -240px)
    &-5002
      _bgp(-2px, -300px)
    &-0201
      _bgp(-2px, -360px)
    &-5007
      _bgp(-2px, -420px)
    &-5004
      _bgp(-2px, -480px)
    &-5003
      _bgp(-2px, -540px)
    &-5012
      _bgp(-2px, -600px)
    &-5000
      _bgp(-2px, -660px)
    &-5001
      _bgp(-2px, -720px)
    &-5008
      _bgp(-2px, -780px)
    &-5010
      _bgp(-2px, -840px)
    &-5009
      _bgp(-2px, -900px)
    &-5005
      _bgp(-2px, -960px)
    &-0170
      _bgp(-2px, -1020px)
    &-5011
      _bgp(-2px, -1080px)
    &-5013
      _bgp(-2px, -1140px)
    &-1114
      _bgp(-2px, -1200px)
    &-0250
      _bgp(-2px, -1260px)
    &-5186
      _bgp(-2px, -1320px)    
