.charge
  $blue-color = #3282ff
  $red-color = #ea3d3f
  &-title
    font-size: $font-size-base
  &-footer
    text-align: center
    color: $gray-txt-black
    span
      color: $blue-color
  &-content
    padding: 50px 70px 20px
    dl
      margin-bottom: 50px
    dt
      font-size: $font-size-huge
      float: left
      font-weight: normal
      img
        margin: -4px 10px 0 0
    dd
      margin-left: 150px
      a
        display: inline-block
        margin: 4px 20px 0 0
        font-size: $font-size-h4
        color: $blue-color
      img
        display: inline-block
        vertical-align: middle
        margin: -2px 0 0 8px
      span
        cursor: pointer
        display: inline-block
        margin-top: 4px
        font-size: $font-size-h4
        color: $red-color
      .charge-invest-link
        margin: 0
