.error
  &-page
    height: 600px
    background: url('/img/error-bg.png') no-repeat
    margin: 30px auto
    padding: 180px 0 0 288px
    &-content
      padding: 76px 0 0 20px
      font-size: $font-size-huge
      a
        color: #df4248