progress(bg, wth, hth)
  .progress
    width: wth
    height: hth
  .progress-bar
    background-color: bg
progressCicle()
  .progress
    position: absolute
    width: 100%
    top: 50%
    left: 0
    right: 0
    text-align: center 
    color: $white-color
    border: none
  .chart-progress
    width: 100%
    height: 100%
