.transfer
  $bg-hover-color = #f1f1f1
  $button-color =  #ED3E40
  &-banner
    min-width: 1100px
    height: 300px
    background: url(/img/transfer-banner.png) no-repeat center center
  &-wrap
    width: 96%
    margin: 0 auto
  &-list
    background: $white-color
    // min-height: 450px
    margin: 20px auto
    &-header
      background-color: $bg-color
      line-height: 50px
    .item-list
      display: block
      // line-height: 30px
      height: 70px
      border-bottom: 1px solid #EAEAEA
      &-last-row
        border-bottom: none
    span
      width: 16.66%
      display: inline-block
    .item
      &-list
        &:hover
          background: $bg-hover-color
          color: $text-color 
          .item-transit-hover   
            background-color: $button-color
            color: $white-color
      &-both
        text-align: center
      &-name
        width: 180px
        padding-left: 20px
      &-status
        width: 160px 
      &-rate
        width: 150px
      &-rate-value
        color: $button-color
      &-duration
        width: 180px
      &-amount
        width: 190px
      &-balance
        width: 180px
      &-wrap
        background: $bg-color
      &-transit
        display: inline-block
        width: 70px
        height: 30px
        line-height: 30px
        margin-top: 23px
      &-transit-hover
        color: $button-color
        border-radius(4px)
    .item-title 
      line-height: 50px
      height: 50px 
      color: $gray-txt-black
      &:hover
        background: $white-color     