extend base

block title
  | #{aboutTitle}

block subnav
  include ./mod/sub.nav.pug

block page-val
  - var pageClass = 'about-wrap'

block content
  .about-law
    .about-law-item
      a(href='http://www.cbrc.gov.cn/govView_E7B94B41E8C340E4833472632308AEC5.html') 关于印发网络借贷信息中介机构备案登记管理指引的通知
    .about-law-item
      a(href='http://www.cbrc.gov.cn/chinese/home/docView/D81B52D3D20A49A99522C48FA8F1C752.html') 关于印发《P2P网络借贷风险专项整治工作实施方案》的通知
    .about-law-item
      a(href='http://www.gov.cn/zhengce/content/2016-10/13/content_5118471.htm') 国务院办公厅关于印发互联网金融风险专项整治工作实施方案的通知
    .about-law-item
      a(href='http://www.gov.cn/xinwen/2017-06/28/content_5206540.htm') 三部门关于进一步加强校园贷规范管理工作的通知
    //-.about-law-item
      a(href='/upload/pdf/payday-loan.pdf') 关于规范整顿“现金贷”业务的通知
    .about-law-item
      a(href='http://www.cbrc.gov.cn/govView_C8D68D4C980A4410B9F4E21BA593B4F2.html') 中国银监会办公厅关于印发网络借贷信息中介机构业务活动信息披露指引的通知
    .about-law-item
      a(href='http://www.miit.gov.cn/n1146285/n1146352/n3054355/n3057254/n3057259/c3868973/content.html') 中华人民共和国电子签名法
    .about-law-item
      a(href='http://www.court.gov.cn/zixun-xiangqing-15146.html') 最高人民法院关于审理民间借贷案件适用法律若干问题的规定
    .about-law-item
      a(href='http://www.cbrc.gov.cn/govView_4201EF03472544038242EED1878597CB.html') 中国银监会办公厅关于印发网络借贷资金存管业务指引的通知
    .about-law-item
      a(href='http://www.cbrc.gov.cn/chinese/home/docDOC_ReadView/275.html') 贷款通则
    .about-law-item
      a(href='http://www.gov.cn/xinwen/2015-07/18/content_2899360.htm') 关于促进互联网金融健康发展的指导意见
    .about-law-item
      a(href='http://www.cbrc.gov.cn/govView_37D312933F1A4CECBC18F9A96293F450.html') 网络借贷信息中介机构业务活动管理暂行办法（银监会令[2016]1号）



block foot-script
  script.
    app.scrollPosition.init();