extends base

block title
  | 红小宝

block content
  .announce
    h3 红小宝成交额破亿全场加息活动公告
    p 尊敬的红小宝用户：
    p 您好!
    p 自2017年8月18日红小宝对接恒丰银行资金存管上线以来，短短68天，红小宝累计成交额已经突破一亿元。为感谢大家对红小宝的信任和支持， 2017年10月25日至2017年10月27日期间，红利智投加息大回馈。
    p 加入红利智投3月期，加息0.2%;
    p 加入红利智投6月期，加息0.3%;
    p 加入红利智投12月期，加息0.4%。
    p 活动为期三天，祝您加入愉快，如有任何疑问，请致电红小宝客服热线：400-1552-888。
    p 红小宝的成长与发展离不开广大用户长期以来的支持和鼓励，我们会在今后的工作中继续秉持“稳健、安全、专业”的理念，不断为大家提供更优质的互联网金融服务。
    p.text-right 红小宝运营团队
    p.text-right 2017年10月24号