extends base

block title
  | 红小宝

block page-val
  - var pageClass = 'propoganda-body'

block content
  .landing-carnival
    img.landing-carnival-logo(src='/img/mobile/landing-carnival-logo.png')
    img.landing-carnival-award(src='/img/mobile/landing-carnival-award.png')
    img.landing-carnival-top-footer(src='/img/mobile/landing-carnival-top-footer.png')
    .landing-carnival-result.hide#J_result
      .landing-carnival-result-txt 红包已绑定到您 
        span#J_result-mobile 
        |  的红小宝账户
      a(href='http://a.app.qq.com/o/simple.jsp?pkgname=com.hoomsun.hxb').landing-carnival-backtop 下载APP领更多惊喜好礼
      .landing-carnival-footer
        .landing-carnival-footer-title 市场有风险 出借需谨慎
    .landing-carnival-wrap#J_wrap
      .propoganda-page.propoganda-register
        - var _mobileIconUrl = '/img/propoganda-register-mobile.png'
        - var _captchaIconUrl = '/img/propoganda-register-captcha.png'
        - var _smscodeIconUrl = '/img/propoganda-register-smscode.png'
        - var _passwordIconUrl = '/img/propoganda-register-password.png'
        - var _btnColor = 'btn-red'
        include ./mod/register.form.nocode.pug
      .landing-carnival-content
        .landing-carnival-content-title
          img(src='/img/mobile/landing-carnival-plan-title.png')
        .item
          .item-header
            img(src='/img/mobile/landing-carnival-plan-3.png')
          .item-body
            .item-rate
              .item-rate-top
                span.item-rate-top-first 7.0
                  b %
                if interimReview
                  | +
                  span 0.3
                    b %
              .item-rate-footer 平均历史年化收益
            .item-amount
              .item-amount-header 1000
                b 元
              .item-amount-footer 起投金额
        .item
          .item-header
            img(src='/img/mobile/landing-carnival-plan-12.png')
          .item-body
            .item-rate
              .item-rate-top
                span.item-rate-top-first 10.8
                  b %
                if interimReview
                  | +
                  span 0.4
                    b %
              .item-rate-footer 平均历史年化收益
            .item-amount
              .item-amount-header 1000
                b 元
              .item-amount-footer 起投金额
        .landing-carnival-content-bottom 平均历史年化收益不等于实际收益，以实际收益为准
      .landing-register-investment-security.landing-carnival-content
        .landing-carnival-content-title
          img(src='/img/mobile/landing-carnival-invest.png')
        .landing-register-investment-security-body.landing-carnival-item
          .investment-security-item
            h4.investment-security-item-title 恒丰银行资金存管
            .investment-security-item-desc
              p  用户资金由恒丰银行存管，
                br
                | 平台接触不到用户资金，不可能卷款跑路
            .investment-security-item-deposit-poster
          .investment-security-item
            h4.investment-security-item-title 四重风控审核，精选优质资产
            .investment-security-item-desc
              p 平台与同盾反欺诈、美林大数据、
                br
                | 上海资信等第三方合作，标准化审核流程，确保
                br
                | 每个上线项目优质可靠
            .investment-security-item-audit-poster
          .investment-security-item
            h4.investment-security-item-title 智能分散，降低出借风险
            .investment-security-item-desc
              p 用户只需要买入，后台系统自动将出借资金小
                br
                | 额分到多个项目中，有效降低单一借款人违约的风险
            .investment-security-item-smart-poster
      a(href='').landing-carnival-backtop
        img(src='/img/mobile/landing-carnival-package.png')
        | 立即领取500元红包
      .landing-carnival-footer
        img(src='/img/mobile/landing-carnival-bottom.png')
      
block foot-script
  script.
    app.landingCarnival.init({
      form: '#J_user-register-form',
      mobile: '#J_mobile',
      password: '#J_password',
      trigger: '#J_verifycode',
      smscode: '#J_smscode',
      noCaptcha: true
    });       