extend base

block title
  | 红小宝新版起航

block page-val
  - var pageClass = 'landing-body'

block content
  .landing-container
    .landing-newedition-section.landing-newedition-banner
      img(src='/img/newbegin-banner.png')
    .landing-newedition-section.landing-newedition-profession
      h3.landing-newedition-title.title-profession 更专业-多年品牌积累
      h4 
        img(src='/img/newbegin-company.png')
        | 综合现代服务型企业
      p 红上金融信息服务（上海）有限公司是一家成立于 2014 年，注册资本2亿元，红上金融多年来秉承“稳健，安全，专业”的发展理念，集互联网金融、公益理财、普惠金融借款咨询、综合财富管理、海外资产配置业务于一体的综合性金融服务企业。红上金融采用国际先进的资产配置理论和风控技术体系，致力于为大众富裕阶层、中小微企业主和高成长性人群供多元化的财富管理和普惠金融服务。
      h4
        img(src='/img/newbegin-money.png')
        | 管理数十亿资产
      p 红上总部位于上海，目前已创建红上金融、红上至信、红上财富、红上诚诚、家族财富办公室、红上研究院等品牌，累计资产管理规模已有数十亿人民币。  
    .landing-newedition-section.landing-newedition-secure  
      h3.landing-newedition-title.title-secure 更安全-多重安全保护措施
      .landing-newedition-secure-content
        h4 合法合规
          img(src='/img/newbegin-leagal.png')
        p 借款人和出借人借贷关系的合法性；借款人通过红小宝平台获得的出借收益的合法性；收益率的合法性。
      .landing-newedition-secure-content
        h4 数据保障
          img(src='/img/newbegin-data.png')
        p 三层防火墙隔离；数字签名加密；分布式容灾备份；安全内控流程。
      .landing-newedition-secure-content
        h4 隐私安全
          img(src='/img/newbegin-guaranteen.png')
        p 严格的用户信息操作规范，从流程上确保用户隐私不被泄露与合作的第三方机构签署信息安全协议，并恪守执行。
      .landing-newedition-secure-content
        h4 资金保障
          img(src='/img/newbegin-secure.png')
        p 优质借款人，均为高阶层用户群，信用意识很强，稳定还款能力，反欺诈调查保证信息真实可靠。
    .landing-newedition-section.landing-newedition-reasonable
      h3.landing-newedition-title.title-reasonable 更科学-科学的产品配比
      p 红利智投是红小宝平台为理财人提供的本金自动循环出借及到期自动转让退出的投标工具，由系统自动实现资金的分散出借，有效帮助理财人分散投资风险。
      img(src='/img/newbegin-procede.png')
    .landing-newedition-section.landing-newedition-future  
      h3.landing-newedition-title.title-future 更未来-充满期待的未来
      .landing-newedition-future-content
        h4 业务发展的多元化
        img(src='/img/newbegin-map.png')
        p 红上分支机构已覆盖上海，杭州，苏州，无锡，南京，南通，宁波，济南，青岛，北京，沈阳，广州，深圳，厦门，福州，镇州，合肥，西安，西宁，银川，宝鸡，汉中，香港等地，海外已建立新加坡，纽约等分支机构。截至2016年11月，红上金融在职员工3,000人，通过境内外58家营业机构为客户提供多种金融服务。
      .landing-newedition-future-content  
        h4 紧跟国家合规要求
        img(src='/img/newbegin-logo.png')
        span.online 恒丰银行资金存管正式上线
      .landing-newedition-future-content  
        h4 未来无限好，跟红小宝一路前行
        ul.time-line
          li 2012
            span 8.18红上成立
          li 2013
            span 开启风控管理之路
          li 2014
            span 创立红上至信、红上财富、红上金融
          li 2015
            span 成立红上研究院、家族办公室
          li 2016
            span 创建红小宝互金平台
          li 2017
            span 开启私募产品资管时代  
          li 未来
            span 无限美好，一起前行 

