extend base

block title
  | 红小宝多重安全保障

block page-val
  - var pageClass = 'landing-body'

block content
  .landing-container.landing-trust-container
    .landing-trust-banner
      img(src='/img/trust-banner.jpg')
    .landing-trust-content
      h3.landing-trust-title 银行存管有效的使平台无法直接接触资金
      h3.landing-trust-title 避免平台客户资金被直接挪用
      img.landing-trust-process(src='/img/trust-process.png')
      .landing-trust-advantage
        h4 用户资金有效隔离
        p 恒丰银行资金存管，用户在银行需开设独立账户，平台资金与用户资金账户分离，平台无法接触用户资金，全部由存管银行对资金进行管理
      .landing-trust-advantage
        h4 资金交易更规范
        p 恒丰银行根据合同及用户发出的交易指令，会对整个交易过程进行管理并记录用户资金流水，交易真实可查。
      .landing-trust-advantage
        h4 用户资金更透明
        p 真实的借款信息，红小宝所有资金交易，恒丰银行存管系统均会对借贷关系进行校验，保障每笔资金真实交易。
      .landing-trust-advantage
        h4 账户保障再升级
        p 用户在资金使用中，账户信息由存管银行管理，资金交易均由用户授权银行操作执行。
      .landing-trust-riskmanage
        .landing-trust-riskmanage-title 多重风险管理体系
        h4 数据保障
        p 三层防火墙隔离 ；数字签名加密；分布式容灾备份；安全内控流程。
        h4 资金保障
        p 优质借款人，均为高阶层用户群，信用意识很强，稳定还款能力，反欺诈调查保证信息真实可靠。
        h4 隐私安全
        p 严格的用户信息操作规范，从流程上确保用户隐私不被泄露与合作的第三方机构签署信息安全协议，并恪守执行。
        h4 合法合规
        p 借款人和出借人借贷关系的合法性，借款人通过红小宝平台获得的出借收益的合法性；收益率的合法性。
