extend base

block title
  | 恒丰银行存管上线

block page-val
  - var pageClass = 'landing-body'

block content
  .landing-container
    .landing-depository-banner
      img(src='/img/landing-depository-banner-bg.jpg')
    .landing-depository-main
      .landing-depository-content   
        .landing-depository-wrap
          h3.landing-depository-title 图解银行存管
          p 银行存管是由银行管理资金，平台管理交易，做到资金与交易的分离，使得平台无法直接接触资金，避免平台客户资金被直接挪用。
          .landing-depository-group
            img(src='/img/landing-depository-graph.png')
        .landing-depository-wrap
          h3.landing-depository-title 为什么做银行存管
          img.doing-top(src='/img/landing-depository-doing.png')
          .banks-depository
            p 根据2016年8月24日由银监会，工信部，公安部，网信办联合公布的《网络借贷信息中介机构业务活动管理暂行办法》，要求互联网金融平台需与银行对接，对平台资金进行银行存管，保障用户资金安全。
            p 红小宝平台积极对接银行存管，将保障用户资金安全放在首位，同时也是红上在合规之路上的持续健康发展的新起点，红小宝用实际行动在合规上做出自己的承诺。
        .landing-depository-wrap.deposit-advantage
          .advantage-depositiry
            img(src='/img/landing-depository-advantage.png')
          h3.landing-depository-title.depository-advantage 存管优势
          ul.advantage-ul
            li.advantage-li
              h3.advantage-title 资金交易更规范
              .advantage-wrap
                p.advantage-detail 恒丰银行根据合同及用户发出的交易指令，会对整个交易过程进行管理并记录用户资金流水，交易真实可查。
            li.advantage-li
              h3.advantage-title 用户资金有效隔离
              .advantage-wrap
                p.advantage-detail 恒丰银行资金存管，用户在银行需开设独立账户，平台资金与用户资金账户分离，平台无法接触用户资金。
            li.advantage-li
              h3.advantage-title 资金账户保障升级
              .advantage-wrap
                p.advantage-detail 用户在资金使用中，账户信息由存管银行管理，资金交易均由用户授权银行操作执行。
            li.advantage-li
              h3.advantage-title 用户交易更透明
              .advantage-wrap
                p.advantage-detail 真实的借款信息，红小宝所有资金交易，恒丰银行存管系统均会对借贷关系进行校验，保障每笔资金真实交易。
        .landing-depository-btns  
          if isLogin
            span.J_jump-to-app(data-path='/home/plan_fragment').landing-depository-btn  立即出借
          else
            span.J_jump-to-app(data-path='/account/login').landing-depository-btn  立即注册

block foot-script
  script.
    app.callApp.init();
        
    