extend base

block title
  | 红小宝平台授权协议

block content
  .container.agreement
    h4 红小宝平台授权协议
    h5 一、定义及解释
    p （1）红小宝金融平台（下称"平台"）由红上金融信息服务（上海）有限公司（下称"红上金融"）负责运营。《恒丰银行股份有限公司杭州分行网络交易资金账户三方协议》（下称"三方协议"）三方为平台注册用户（下称"用户"）、红上金融、恒丰银行股份有限公司杭州分行（下称"恒丰银行杭州分行"），本协议对用户、红上金融均具有约束力的文件，具有合同上的法律效力。
    p  用户同意，开通《三方协议》项下的上述所有服务及其相应的委托支付产品、网络交易资金存管账户，同时授权恒丰银行杭州分行按照平台方（红上金融）的指令对用户开通的网络交易资金存管账户进行操作，用户已知晓上述服务可能无需用户再次输入支付密码。
    h5 二、声明与授权
    p （一）用户同意，在使用《三方协议》项下的服务时的意思表示均出自于用户本人的真实意愿。同时用户确保在使用服务时所填写的信息均真实有效，否则因此导致的责任由用户自行承担。
    p （二）用户在此授权，恒丰银行杭州分行有权根据用户在平台方的投融资活动、指令及平台方的指令，对用户的网络交易资金存管账户进行免密操作，以便用户在平台上正常开展投融资活动。
    p （三）用户同意，恒丰银行杭州分行可以根据用户在平台上设置的内容或用户事先授权给平台方的内容从用户的存管网络交易资金存管账户扣款（包括向用户收取相应的服务费用）。
    p （四）用户同意，恒丰银行杭州分行仅对因人工操作错误执行平台方的指令承担责任，对于因平台方发送指令错误或迟延，或平台方未取得用户的事先授权而发送指令，导致用户的网络交易资金存管账户或银行账户发生的资金损失，恒丰银行杭州分行不承担任何责任，用户应该与平台方或交易对方自行解决前述纠纷。用户理解并明白恒丰银行杭州分行仅在此过程中仅根据平台方扣款指令划扣相应款项，除恒丰银行杭州分行人工操作错误执行指令外，用户不得据此向恒丰银行杭州分行主张任何索赔或补偿。
    p （五）用户同意，开通《三方协议》项下的服务后，当恒丰银行杭州分行自用户的网络交易资金存管账户中划扣相应款项的情况下，若因平台方未能及时出具账单，或账单逾期、错误导致您未能及时偿付相关款项而产生违约金或者多扣、重复扣款的，因此导致的所有责任及损失，均由用户与平台方自行协商解决。
    h5 三、其他
    p 本协议依附于《三方协议》而存在，未尽事宜均以恒丰银行杭州分行或平台方不时更新公布的《三方协议》及相关规则为补充；本协议与《三方协议》及相关规则不一致的地方，以本协议为准。本协议中的所有术语，除非另有说明，否则其定义与三方协议的定义相同。

