extend base

block title
  | 反洗钱协议 

block content
  .container.agreement
    p 尊敬的用户， 您好！
    p 欢迎您成注册为红上金融信息服务（上海）有限公司旗下平台红小宝（www.hoomxb.com）用户。 您可根据您的出借需求， 自愿选择通过红小宝平台进行资金出借， 以期获得相应借款利息收益。
    p 当您点击“确认” “出借” “同意” 或其他类似涵义选项时， 即视为您已经充分理解并确认《反洗钱告知暨客户出借承诺书》 （以下简称“本告知书” ） 《出借资金风险提示书》 （以下简称“本提示书” ） 相关内容， 对您自有出借资金来源的合法性作出保证性承诺， 并自愿承担相应风险

    h4 《反洗钱告知暨客户出借承诺书》  
    p 当您选择通过红小宝平台出借资金时， 红小宝向您进行出借资金反洗钱、 反恐怖融资告知及警示， 您也需对出借资金的合法性进行保证承诺。
    p 一、 根据《中华人民共和国刑法》 及《中华人民共和国反洗钱法》 规定， “洗钱” 是指将违法所得及其产生的收益， 通过各种手段掩饰、 隐瞒其来源和性质， 使其在形式上合法化的行为。 因此当您成为红小宝平台用户且进行相关资金出借时， 您须保证并承诺如下：
    p 1、 用户承诺其资金为合法、 安全的自有资金， 不存在不诚实经营、 诈骗客户资金等违法经营行为所得或盗窃、诈骗、 毒品交易、 黑社会组织性质不法行为、 受贿、 侵占挪用公司财产等犯罪行为所得， 不存在通过红小宝平台进行出借等洗钱行为来掩饰其资金非法来源， 获取不法收益的行为。
    p 2、 用户承诺不得将其在红小宝平台出借资金及所得收益用作任何反国家、 恐怖融资等违法犯罪活动， 或将出借资金及收益支持、 资助或变相帮助反国家、 恐怖组织用于非法活动。
    p 二、 红小宝平台对于用户施行实名注册严格准入制度， 对于通过实名注册用户， 红小宝在其出借行为发生时进行客户身份甄别， 严格审核， 有权拒绝对身份不明的用户或涉嫌洗钱可疑交易的用户提供资金出借、 协助其进行资金划拨、 流转操作等任何服务。
    p 三、 对于发生出借行为的用户， 红小宝平台按规定完整登记用户相关信息， 审慎保存并实时监管， 对用户的账户和相关动态持续关注， 如用户信息发生变更、 交易中经审查涉嫌洗钱犯罪、 公安检察院法院等司法机关及有关部门要求协查等情况发生时， 红小宝平台将对用户上述账户及个人信息进行重新识别， 对于上述用户已发生交易保存的相关合同、 资金凭证及其他交易资料进行重新审核或协助司法机关或有权监管部门查证。
    p 四、 对于用户出借过程中存在交易异常行为（包括但不限于某一时间段内频繁进行资金出借及资金划拨操作）或大额可疑交易行为时（包括用户某期、 某次出借金额畸高， 用户出借金额呈现异常比例波动） ， 红小宝平台发现该等行为后立即向用户以合理方式进行询问并要求用户对上述交易行为作出合理性解释， 红小宝可根据情况要求用户提供相关资料证明或向银行、 同业机构调取用户近期资金往来明细及出借交易记录以核实用户的异常交易、可疑大额交易是否涉及洗钱及其他违规违法交易。 用户不得以任何理由拒绝对该等异常交易行为进行解释、 说明。
    p 五、 如红小宝平台在出借交易过程中发现或在第三方金融或同业机构中已确认用户涉及洗钱犯罪、 资金或其他财产来源于恐怖组织、 恐怖分子、 从事恐怖融资活动人员及其他违法犯罪所得； 资金或其他形式的财产已用于或将用于恐怖融资、 恐怖活动等违法犯罪活动时， 红小宝将立即停止该用户在平台已发生或正发生的所有交易， 将其自有资金、 授权在银行存管资金及出借相关收益采取查封账户、 冻结款项措施， 并将用户违法行为报送指定金融监管部门并视情况将交易违法信息及证据材料移交司法机关处理。 由于用户未依照相关法律法规的要求及违反本文件中第一条已作出的相关保证性承诺导致红小宝或其他第三方遭受相应损失， 用户应承担完全的赔偿责任并单独承担相应法律后果。
    h4 《出借资金风险提示书》
    p 在您出借资金的过程中， 也许会面临可能导致您资金及收益受损的各种风险。 为保障您出借资金的安全及相关合法权益， 请您在与借款人达成资金交易前仔细阅读以下内容， 了解资金出借的特征， 并根据自身的风险承受能力选择是否出借资金及出借资金的数额。
    p 1. 在您选择红小宝平台进行资金出借前， 您应当拥有非保本类金融产品投资的经历并熟悉互联网。
    p 2. 政策风险
    p 因国家宏观政策、 财政政策、 货币政策、 监管导向、 行业政策、 地区发展政策等因素引起的风险。
    p 3. 市场风险
    p 因市场资金面紧张或利率波动、 行业不景气、 企业效益下滑等因素引起的风险。
    p 4. 借款人/保证人信用风险
    p 当借款人/保证人短期或者长期丧失还款能力， 包括但不限于借款人/保证人收入情况、 财产状况发生变化、 人身出现意外、 发生疾病、 死亡等情况， 或者借款人/保证人的还款意愿发生变化时， 您出借的资金可能无法按时回收； 您当期应得到的回款可能延迟回收或遭受损失。
    p 5. 资金流动性风险
    p 您按照约定将资金出借给借款人使用， 在借款人不主动提前还款的情况下， 借款人将按照约定的期限分期偿还本金和利息， 您出借的资金将分期回收， 因此资金回收需要一定的期限。 同时， 红小宝平台将在您提出需要以及其他对您有利的时机， 努力帮助您寻找、 推荐愿意受让您通过红小宝平台获得的债权的第三方， 但红小宝平台不能确保一定能够在您指定的时间内协助寻找到合适的债权受让人。
    p 6. 技术风险
    p 由于无法控制和不可预测的系统故障、 设备故障、 通讯故障、 电力故障、 网络故障、 黑客或计算机病毒攻击、以及其它因素， 可能导致红小宝平台出现非正常运行或者瘫痪， 由此导致您无法及时进行查询、 出借、 提现等操作。
    p 7. 操作风险
    p 如果您缺乏必要的互联网经验， 可能出现因操作不当导致 资金交易失败或失误。 如果您未能谨慎保管自己的账号和密码， 或者设置的密码简单导致密码被破解， 以及您在进行资金交易时未能确保所使用的操作终端、 网络以及周围环境的安全性， 导致账号和密码被他人盗取、 使用， 可能导致违反您本人意愿的资金交易以及资金损失。 由于红小宝平台以账号和密码进行身份识别， 一切以您认证方式进行的操作等均被视为您本人的操作， 您将对此发生的一切后果承担全部责任。
    p 8. 不可抗力风险
    p 由于战争、 动乱、 自然灾害等不可抗力因素的出现而可能导致出借资金损失的风险。风险提示方： 红上金融信息服务（上海）有限公司
    p “本人已经阅读《反洗钱告知暨客户出借承诺书》 及《出借资金风险提示书》 的所有内容， 充分了解并清楚知晓相应的权利义务， 并愿意承担相关风险及法律后果。 ”
    p 用户：
    p 签署日期
