.propoganda-result
  .propoganda-header-poster
    .propoganda-header-poster-icon
      img.success(src='/img/propoganda-register-success.png')
  p.propoganda-result-welcome 注册成功
  p.propoganda-result-welcome 欢迎来到红小宝！
  img(src='/img/propoganda-register-slogen.png').propoganda-result-slogen
  a(href='/download').propoganda-result-download.link
    img(src='/img/propoganda-register-download.png').propoganda-result-download-icon
    | 下载红小宝app