extends base

block title
  | 微沙信用

block page-val
  - var pageClass = 'about-wscredit-body'

block content
 .about-wscredit
    .about-wscredit-banner
    .about-wscredit-content
      img(src='/img/mobile/about-wscredit-content.png')
      .title 微沙信用，聚沙成塔
      p.introduce 极速申请  智能匹配  快速评估
      img.wscode(src='/img/mobile/about-wscredit-information.png')
      .provisions 现仅支持Android用户下载
      .provisions.provisionsios iOS用户敬请期待
    .about-wscredit-steps
      .about-wscredit-steps-detail
        .about-wscredit-steps-detail-step.stepone
        .title 直通平台，极速申请
        p 一步注册 三步申请 快速评估
        img(src='/img/mobile/about-wscredit-apply.png')
      .about-wscredit-steps-detail
        .about-wscredit-steps-detail-step.steptwo
        .title 授信，有信即有钱
        p 信用卡 淘宝 芝麻信用分 征信报告
        img(src='/img/mobile/about-wscredit-credit.png')
      .about-wscredit-steps-detail
        .about-wscredit-steps-detail-step.stepthree
        .title 提取金额
        p 提取金额用到您生活所需
        img(src='/img/mobile/about-wscredit-extractmoney.png')
      .about-wscredit-steps-detail
        .about-wscredit-steps-detail-step.stepsfour
        .title 按时还款
        p 借款人每月按时还款
        img(src='/img/mobile/about-wscredit-repayment.png')
    .about-wscredit-bottom
      .title 微沙信用，成就简单生活
      .about-wscredit-bottom-code
      .provisions 现仅支持Android用户下载
      .provisions.provisionsios iOS用户敬请期待
      