.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")#J_quickpay-modal
  .modal-dialog.modal-wrap
    .modal-content
      //-
        .modal-header
          h4.modal-title.charge-title 需在新打开的网关支付完成充值后选择：
      .modal-body.charge-content 等待充值