.modal-sale-invite.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModlLabel')
  .modal-dialog
    .modal-content
      .modal-header
        button.close.close-button(data-dismiss="modal", aria-label="Close")
      .modal-body
        p.wraning 请通过专属邀请码推荐好友注册，如有疑问请拨打红小宝客服热线400-1552-888。
      .modal-footer
        .close-btn(data-dismiss="modal", aria-label="Close") 确定