#J_user-forbid-create-account-modal.modal.fade(tabindex='-1', role='dialog', atia-labelledby='myModlLabel')
  .modal-dialog.modal-forbid-create-account
    .modal-content
      .modal-header.modal-forbid-create-account-body
        button(type='button', class='close', data-dismiss='modal', aria-hidden='true') &times;
      .modal-body.modal-forbid-create-account-body
        h3 信息错误
        p 错误次数已达三次，请联系客服进行开户
        p 客服电话400-1552-888
      .modal-footer.modal-forbid-create-account-footer
        a(href='/account/setting') 确定