// normalize
support-for-ie  = false
@import "./lib/nib";
@import "./mobile/box-sizing.styl";
@import "./lib/normalize.styl";

@import "./mobile/variables.styl";
@import "../bower_components/bootstrap-stylus/bootstrap/variables";
@import "./lib/jquery.fullpage.styl";

// common
@import "./mobile/base.styl";
@import "./mobile/animate.styl";
//modal
@import "./mobile/modal.styl"
//font-awesome
@import '../bower_components/Font-Awesome-Stylus/stylus/font-awesome.styl'
@import "./lib/pure-grid.styl";
@import "./lib/pure-grid-units.styl";

// page
@import "./mobile/home.styl";
@import "./mobile/riskvail.styl";
@import "./mobile/announcement.styl";
@import "./mobile/landing.styl"
@import "./mobile/landing.ordinary.styl"
@import "./mobile/landing.invested.gift.styl"
@import "./mobile/landing.miya.signup.styl"
@import "./mobile/agreement.styl"
@import "./mobile/download.styl"
@import "./mobile/questions.styl"
@import "./mobile/propoganda.styl"
@import "./mobile/discount.styl"
@import "./mobile/invite.styl"
@import "./mobile/wxshare.styl"
@import "./mobile/wscredit.styl"
@import "./mobile/about.styl"

// landing
@import './mobile/landing.miya.styl'
