extend base

block title 
  | 运营报告2016 - 

block subnav
  include ./mod/sub.nav.pug

block content
  .about-report-2016
    .about-report-2016-content
      .about-report-2016-banner
      .about-report-2016-achievement
      .about-report-2016-people-ratio
      .about-report-2016-sex-ratio        
      .about-report-2016-region      
      .about-report-2016-amount-ratio  
      .about-report-2016-borrow-title
      .about-report-2016-borrow
      .about-report-2016-trade
      .about-report-2016-use
      .about-report-2016-borrow-region
      .about-report-2016-footer