extend base

block title
  | 交易密码 - 账户设置 - 

block head-style
  link(rel='stylesheet', href= UIHelper.static_url('/css/account.css'))  

block content
  - var _query = query || {}
  - var _mobile = _.get(userState, 'mobile') || ''
  - var _userName = _.get(userState, 'realName') || _.get(userState, 'username')
  include ./mod/account.nav.pug
  .section.uc-setting
    .uc-title 
      h4 修改交易密码
    .uc-mobile-setting
      include ./mod/account.trad.password.pug

block foot-script
  script.
    app.accountEditTradPwd.init({
      form: '#J_trad-password-form',
      trigger: '#J_verifycode',
      input: '#J_identity',
      smscode: '#J_smscode'
    })
