extend base

block title
  | 小宝课堂 - 

block content
  - var dataList = [{id: 1, time: '1514937600000', title : '网络借贷中介机构应当履行哪些义务？'}, {id: 2, time: '1514937600000', title : '出借人和借款人分别应当履行哪些义务？'}, {id: 3, time: '1514937600000', title : '借款人有哪些禁止行为？'}, {id: 4, time: '1514937600000', title : '哪类人群适合在网络借贷平台出借？'},{id: 5, time: '1514937600000', title : '网络借贷通常可能面临哪些风险？'},{id: 6, time: '1514937600000', title : '什么是网络借贷信息中介机构？', content: '网络借贷信息中介机构是指依法设立，专门从事网络借贷信息中介业务活动的金融信息中介公司。该类机构以互联网为主要渠道，为借款人与出借人（即贷款人）实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。'},{id: 7, time: '1514937600000', title : '什么是网络借贷？'}, {id: 8, time: '1514937600000', title : '什么是资金存管?'}, {id: 9, time: '1514937600000', title : '什么是“互联网金融”？'}]
  .section
    - var scienceDetail = dataList[listId - 1]
    .help
      .help-science
        .help-science-title
          h3 知识科普
          a.J_help-detail-back.back &lt;&lt;返回
        .help-science-content
          - var _scienceTitle = _.get(scienceDetail, 'title') || ''
          - var _scienceContent = _.get(scienceDetail, 'content') || ''
          - var _scienceTime = _.get(scienceDetail, 'time') - 0 || 0
          h3 #{_scienceTitle}
          .title-time
            span 来源：网络
            span #{UIHelper.formatdate('YYYY-MM-DD', _scienceTime)}
          if listId === 1
            p  网络借贷信息中介机构应当履行下列义务：
            p  1、依据法律法规及合同约定为出借人与借款人提供直接借贷信息的采集整理、甄别筛选、网上发布，以及资信评估、借贷撮合、融资咨询、在线争议解决等相关服务；
            p  2、对出借人与借款人的资格条件、信息的真实性、融资项目的真实性、合法性进行必要审核；
            p  3、采取措施防范欺诈行为，发现欺诈行为或其他损害出借人利益的情形，及时公告并终止相关网络借贷活动；
            p  4、持续开展网络借贷知识普及和风险教育活动，加强信息披露工作，引导出借人以小额分散的方式参与网络借贷，确保出借人充分知悉借贷风险；
            p  5、按照法律法规和网络借贷有关监管规定要求报送相关信息，其中网络借贷有关债权债务信息要及时向有关数据统计部门报送并登记；
            p  6、妥善保管出借人与借款人的资料和交易信息，不得删除、篡改，不得非法买卖、泄露出借人与借款人的基本信息和交易信息；
            p  7、依法履行客户身份识别、可疑交易报告、客户身份资料和交易记录保存等反洗钱和反恐怖融资义务；
            p  8、配合相关部门做好防范查处金融违法犯罪相关工作；
            p  9、按照相关要求做好互联网信息内容管理、网络与信息安全相关工作；
            p  10、国务院银行业监督管理机构、工商登记注册地省级人民政府规定的其他义务。
          else if listId === 2
            p  出借人应当履行的义务：
            p  1、向网络借贷信息中介机构提供真实、准确、完整的身份等信息；
            P  2、出借资金为来源合法的自有资金；
            P  3、了解融资项目信贷风险，确认具有相应的风险认知和承受能力；
            P  4、自行承担借贷产生的本息损失；
            P  5、借贷合同及有关协议约定的其他义务。
            p.help-paragraph-margin  借款人应当履行的义务：
            p  1、提供真实、准确、完整的用户信息及融资信息；
            p  2、提供在所有网络借贷信息中介机构未偿还借款信息；
            p  3、保证融资项目真实、合法，并按照约定用途使用借贷资金，不得用于出借等其他目的；
            p  4、按照约定向出借人如实报告影响或可能影响出借人权益的重大信息；
            p  5、确保自身具有与借款金额相匹配的还款能力并按照合同约定还款；
            p  6、借贷合同及有关协议约定的其他义务。
          else if listId === 3
            p  1、通过故意变换身份、虚构融资项目、夸大融资项目收益前景等形式的欺诈借款；
            p  2、同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一个融资项目进行重复融资；
            p  3、在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息；
            p  4、已发现网络借贷信息中介机构提供的服务中含有违规内容，仍进行交易；
            p  5、法律法规和网络借贷有关监管规定禁止从事的其他活动。
          else if listId === 4
            p  出借人应当具备出借风险意识、风险识别能力、拥有非保本类金融产品出借的经历并熟悉互联网。出借人还应当按照平台要求完成风险评估测试，并选择与自身风险承受能力相当的出借产品进行出借。
            p.help-paragraph-margin  从网贷发展历史上看，网贷平台的用户变迁大致可分为以下三个阶段：
            p.help-paragraph-margin  早期种子用户（2007年-2012年）
            p  这批种子用户大多都是非常成熟的出借人。
            p  1、学历大多较高，本科以上占大多数；
            p  2、工作相对稳定，大多都已经是公司的中层；
            p  3、男性占了70%以上，收入较可观，资产几百万占主流，也就是一二线中产；
            p  4、出借经验丰富，大多数出借品种都接触过，出借心态比较成熟，对出借比较理性。
            p.help-paragraph-margin  中期发展的主力军用户（2013年-2015年）
            p  一些有出借意识的年轻人，被高收益吸引开始尝试P2P出借。
            p  1、主要由75-85后组成，再老的人接受不了互联网；再年轻的人刚参加工作不久，资金有限；
            p  2、介于成熟出借者和初学者之间，学历、收入、出借经验都属于中等水平，都以一二三线城市的上班族、工商个体为主；
            p  3、接触P2P的主要渠道是朋友介绍和社会舆论影响；
            p  4、出借人开始分层，成熟和激进的出借人主要出借高息平台，初学者和保守的出借人主要出借低息平台，他们互相不理解，互相不交流。
            p.help-paragraph-margin  大众用户（2016年-至今）
            p  行业逐渐走向成熟，风险降低吸引了更外围的人群加入。
            p  1、85后，90后等收入不高的年轻人；
            p  2、范围上扩大至一二三四线城市的普通群众；
            p  3、出借的资金量逐渐提高，对P2P的认知逐渐向好；
            p  4、女性出借者的比例大幅上升。
          else if listId === 5 
            p.help-paragraph-margin  法律及监管风险
            p  目前网贷行业的监管体系尚处于探索阶段，政策的制定、解释和执行均存在不确定性，而新制定的法律法规存在一定的追诉期，因此可能会对用户的利益带来影响。
            P.help-paragraph-margin  借款人信用风险
            p  根据银监会出台的《网络借贷信息中介机构业务活动管理暂行办法》（以下简称“《办法》”）规定：“借款人与出借人遵循借贷自愿、诚实守信、责任自负、风险自担的原则承担借贷风险。网络借贷信息中介机构承担客观、真实、全面、及时进行信息披露的责任，不承担借贷违约风险。”
            p  目前我国网贷平台面对的是不完善的社会信用环境和不成熟的用户借款行为，借款人违约成本低导致相关信用风险始终处于较高水平。由于平台不承担借贷违约风险，这就使得平台的风控体系显得尤为重要。除此之外，出借人还应具备分散风险的意识，合理分配资金，做到小额分散。
            p.help-paragraph-margin 流动性风险
            p  一方面，流动性风险主要取决于平台的运营能力，运营能力差、对流动性风险没有足够认识，会导致用户在需要进行债权转让时没有充足的出借人承接，长时间无法收回出借本息；或者平台无法提供充足的借款申请供出借人选择，资金长时间站岗。另一方面，由于网贷平台的信息中介属性，平台只提供网络借贷的信息咨询服务，因此借款筹集、债权承接等都存在一定的合理时效，用户可通过提前对出借资金进行合理安排来降低可能会带来的流动性风险。
            p.help-paragraph-margin  技术风险
            p  技术风险的核心是数据安全，而数据安全则存在系统安全和人员内控两大重要因素。系统安全带来的技术风险主要表现在网络攻击、设备故障等导致的平台异常或瘫痪，从而造成用户无法及时进行查询、充值、出借、提现等操作。
            p.help-paragraph-margin  市场风险
            p  一个市场的兴衰是由其中的企业发展决定的，网贷市场也不例外。个别网贷平台的运营问题可能会带来一系列连锁反应，最终作用于整个网贷市场，导致市场的整体动荡。当出现上述风险时，只有具备专业运营能力和足够实力的网贷平台才能稳健应对，将普惠金融的理念付诸于实践。
            p.help-paragraph-margin  道德风险
            p  道德风险是目前网贷行业存在的最大问题，也是现阶段监管关注的重点，一旦平台出现道德风险，发生资金链断裂、卷款跑路等事件，将给用户带来巨大且无法挽回的损失。用户可通过以下几点来评判一个平台是否存在道德风险： 
            p  平台借款的真实性—通过平台披露的借款人个人信息、借款合同、借款列表等来判断。
            p  平台是否有银行存管—用户在注册平台账户时，是否一同开通了银行存管账户，资金是否通过存管账户流转等。
          else if listId === 7 
            p  网络借贷又称P2P网络借贷，所谓P2P，指的是Peer to Peer，即点对点的连接关系。P2P网贷平台就是连接借款人和出借人，并向双方提供网络借贷信息的中介平台。一方面，有闲散资金的出借人能够通过网贷平台找到并甄别资质好的借款申请进行出借，获得一定的收益；另一方面，有资金需求的个人或企业在P2P网贷平台提交借款申请，并提交相关认证信息，通过一系列审核就可以完成借款申请和还款等操作，大大地提高了效率。
            .help-img
              img(src='../../img/classroom-network.png')
          else if listId === 8 
            p  银行资金存管是指银行对合作平台出借人与借款人开立和使用的资金存管账户进行管理和监督，依照出借人与借款人向平台发出的指令，对两者资金进行存管、划付、核算和监督，平台作为纯粹的信息中介参与到交易之中，全程不触碰资金，所有资金流动均在银行体系内进行，从而真正做到了平台与用户资金完全隔离，有效杜绝了平台支配和挪用用户资金的风险。
            .help-img
              img(src='../../img/classroom-moneyfunds.png')
          else if listId === 9 
            p  互联网金融是传统金融机构与互联网企业利用互联网技术和信息通信技术实现资金融通、支付、出借和信息中介服务的新型金融业务模式。互联网与金融深度融合是大势所趋，将对金融产品、业务、组织和服务等方面产生更加深刻的影响。促进互联网金融健康发展，有利于提升金融服务质量和效率，深化金融改革，促进金融创新发展，扩大金融业对内对外开放，构建多层次金融体系。
            p.help-paragraph-margin  中国互联网金融发展历程要远短于美欧等发达经济体。中国互联网金融大致可以分为三个发展阶段：
            P  第一个阶段是2005年以前，互联网与金融的结合主要体现为互联网为金融机构提供技术支持，帮助银行“把业务搬到网上”，还没有出现真正意义的互联网金融业态；
            p  第二个阶段是2005 - 2011年网络借贷开始在我国萌芽，第三方支付机构逐渐成长起来，互联网与金融的结合开始从技术领域深入到金融业务领域。这一阶段的标志性事件是2011年人民银行开始发放第三方支付牌照，第三方支付机构进入了规范发展的轨道；
            p  第三个阶段是2012年开始，2013年被称为“互联网金融元年”，是互联网金融得到迅猛发展的一年。自此，P2P网络借贷平台快速发展，众筹融资平台开始起步，第一家专业网络保险公司获批，一些银行、券商也以互联网为依托，对业务模式进行重组改造，加速建设线上创新型平台，互联网金融的发展进入全新的阶段。
            p.help-paragraph-margin  互联网金融种类主要有以下几种：
            p  1、P2P网络借贷
            p  P2P（Peer-to-Peer lending），即点对点借贷。P2P网络借贷是指通过第三方互联网平台进行借贷双方的资金匹配，平台提供借贷撮合信息中介服务。
            p  2、第三方支付
            p  第三方支付（Third-Party Payment）狭义上是指具备一定实力和信誉保障的非银行机构，借助通信、计算机和信息安全技术，采用与各大银行签约的方式，在用户与银行支付结算系统间建立连接的电子支付模式。
            p  3、大数据金融
            p  大数据金融是指集合海量非结构化数据，通过对其进行实时分析，可以为互联网金融机构提供客户全方位信息，通过分析和挖掘客户的交易和消费信息掌握客户的消费习惯，并准确预测客户行为，使金融机构和金融服务平台在营销和风控方面有的放矢。
            p  4、众筹
            p  众筹翻译自国外crowdfunding一词，即大众筹资或群众筹资，是指一种向群众募资，以支持发起的个人或组织的行为。由发起人、跟投人和平台构成，具有低门槛、多样性、依靠大众力量、注重创意的特征。
            p  5、信息化金融机构
            p  所谓信息化金融机构，是指通过采用信息技术，对传统运营流程进行改造或重构，实现经营、管理全面电子化的银行、证券和保险等金融机构。
            p  6、互联网金融门户
            p  互联网金融门户的核心是“搜索+比价”模式，采用金融产品垂直比价的方式，将各家金融机构的产品放在平台上，用户通过对比挑选合适的金融产品。这种模式不存在太多政策风险，因为其平台既不负责金融产品的实际销售，也不承担任何不良的风险，同时资金也完全不通过中间平台。
          else
            p #{_scienceContent}

block foot-script
  script.
    app.helpQuestion.init();