extend base

block title
  | 新版起航 - 

block content
  .landing-newedition.landing-newedition-wrap
    .landing-newedition-banner
    .section
      img.big-title(src='/img/landing_title_one.png')
      .special-title
        img.brand-img-service(src='/img/landing_company_service.png')
        span.block-title 综合现代服务型企业
      .special-content 红上金融信息服务（上海）有限公司是一家成立于 2014 年，注册资本2亿元，竑翀网络多年来秉承 “稳健，安全，专业” 的发展理念，集互联网金融，公益理财，普惠金融借款咨询，综合财富 管理，海外资产配置业务与一体的综合性金融服务企业。红上金融采用国际先进的资产配置理论和风控技术体系，致力 于为大众富裕阶层，中小微企业为主和高成长性人群，供多元化的财富管理和普惠金融服务。
      .special-title
        img.brand-img-manage(src='/img/landing_company_service.png')
        span.block-title 管理数十亿资产
      .special-content 红上总部位于上海，目前已创建红上金融，红上至信，红上财富，红上诚诚，家族财富办公室，红上研究院等品牌，累计资产管理规模已有数十亿人民币。
      img.big-title(src='/img/landing_title_second.png')
      .special-title
        img(src='/img/landing_safe.png')
      img.big-title(src='/img/landing_title_thrid.png')
      .safe-content
        div 红利智投是红小宝平台为理财人提供的本金自动循环出借及到期自动转让退出的投标工具，
        div 由系统自动实现资金的分散出借，有效帮助理财人分散出借风险
      .science-img
        img(src='/img/landing_service.png')
      img.big-title(src='/img/landing_title_fourth.png')
      .circle-title
        img.circle(src='/img/landing_circle_tips.png')
        span 业务发展的多元化
      .science-img
        img(src='/img/landing_edition_map.png')
      .future-content 红上分支机构已覆盖上海，杭州，苏州，无锡，南京，南通，宁波，济南，青岛，北京，沈阳，广州，深圳，厦门，福州，镇州，合肥，西安，西宁，银川，宝鸡，汉中，香港等地，海外已建立新加坡，纽约等分支机构。截至2016年11月，红上金融在职员工3,000人，通过境内外58家营业机构为客户提供多种金融服务。
      .circle-title
        img.circle(src='/img/landing_circle_tips.png')
        span 紧跟国家合规要求
      .science-img
        img(src='/img/landing_evergrowing_logo.png')
      .safe-content
        div.bank-space 恒丰银行资金存管正式上线
      .circle-title
        img.circle(src='/img/landing_circle_tips.png')
        span 未来无限好，跟红小宝一路前行
      .science-img.foot-space
        img(src='/img/landing_futrue.png')
