extend base

block title
  | 用户注册协议 -

block content
  .section.agreement-container
    h4 《用户注册协议》
    p.manual-center 最后更新时间：2018年1月18日
    p 红上金融信息服务（上海）有限公司(以下简称“公司”或“本公司”)通过其合法运营的hoomxb.com网站（网址：<a href = 'https://www.hoomxb.com'>https://www.hoomxb.com</a>，简称“hoomxb.com”或“hoomxb.com网站”）及其已经开发及将来不时开发的实现部分或全部hoomxb.com网站功能的移动终端软件（即APP，包括但不限于“红小宝理财”手机客户端以及公司不时开发的移动客户端软件或工具，统称为“红小宝 APP”，与hoomxb.com网站合称为“hoomxb.com平台”）依据本协议为hoomxb.com平台注册用户（以下简称“hoomxb.com平台用户”、“用户”或“您”）提供服务。在本协议中，根据上下文义，“hoomxb.com平台”指红上金融信息服务（上海）有限公司、hoomxb.com平台网站以及各类红小宝 APP的单称或统称。在成为hoomxb.com平台用户前，您务必仔细阅读以下条款，尤其是加粗条款（包括但不限于第十条“适用法律和管辖”项下有关本协议争议应由本公司住所地的人民法院管辖的约定），充分理解各条款内容后再选择是否接受本协议。一旦您在hoomxb.com网站或红小宝 APP提交用户注册申请，即意味着您已阅读本协议所有条款，并对本协议条款的含义及相应的法律后果已全部通晓并充分理解，同意受本协议约束。
    p 本协议已对与您的权益具有或可能具有重大关系的条款，及对公司具有或可能具有免责或限制责任的条款用粗体字予以标注，请您注意。

    h5 一、本协议的签署和修订
    p 1.1 hoomxb.com平台用户应当为持有中华人民共和国（为本协议之目的，不含香港、澳门及台湾地区，以下简称“中国”）有效身份证件的18周岁以上且具有完全民事行为能力和民事权利能力的自然人或系中国境内注册成立的具有独立法人资格的组织。如您违反前述注册限制注册了hoomxb.com平台账户（包括您的资金存管账户，如有，下同）并使用了hoomxb.com平台服务的，hoomxb.com平台有权随时中止或终止您的用户资格，并要求您的监护人承担相应的责任。
    p 1.2 本协议内容包括本协议正文所载之各条款及hoomxb.com平台已经发布的或将来可能发布的各类交易规则、服务规则（下称“hoomxb.com平台规则”）；所有该等hoomxb.com平台规则均为本协议不可分割的一部分，与本协议正文具有同等法律效力。本协议是您与公司自愿共同签订的，适用于您在hoomxb.com网站以及红小宝 APP的全部活动。在您注册成为用户时，您已经阅读、理解并接受本协议正文的全部条款及各hoomxb.com平台规则，并承诺阅读、理解并接受在您注册成为hoomxb.com平台用户后hoomxb.com平台不时发布的hoomxb.com平台规则；您同意遵守中国的各类法律、法规及规范性文件的规定，如有违反而导致任何法律后果的发生，您应以自己的名义独立承担所有相应的法律责任。
    p 1.3 公司有权根据需要不时地修改本协议正文各条款或制定、修改各hoomxb.com平台规则并在hoomxb.com平台相关系统板块发布，无需另行单独通知。您应不时地注意本协议正文各条款及各hoomxb.com平台规则的变更，若您在本协议正文相关条款和/或hoomxb.com平台规则内容公告变更后继续使用hoomxb.com网站及/或 红小宝 APP服务的，表示您已充分阅读、理解并接受修改后的内容，也将遵循修改后的本协议正文条款和/或hoomxb.com平台规则使用hoomxb.com平台的服务。若您不同意修改后的协议内容，您应停止使用hoomxb.com平台的服务。
    p 1.4 您通过自行或授权有关主体根据本协议及hoomxb.com平台有关规则、说明操作确认本协议后，本协议即在您和本公司之间产生法律效力。您与其他hoomxb.com平台用户之间因接受hoomxb.com平台服务而产生的法律关系或法律纠纷均由您自行承担及解决，本公司不承担任何责任；您在此同意将全面接受和履行与其他hoomxb.com平台用户以及合作机构在hoomxb.com平台或者在hoomxb.com平台的辅助之下以电子形式签订的任何法律文件，并承诺按该等法律文件享有和/或放弃相应的权利、承担和/或豁免相应的义务。
    h5 二、服务的提供
    p 2.1 hoomxb.com平台提供的服务包括但不限于：发布和展示借款需求、提供查阅交易机会、签订和查阅合同、资金充值、提现、代收、代付等服务，具体详情以hoomxb.com平台当时提供的服务内容为准。hoomxb.com平台可以通过hoomxb.com网站或某一个或多个红小宝 APP为您提供全部或部分服务，具体以届时hoomxb.com平台实际提供的服务和功能为准。
    p 2.2 基于法律法规、监管部门的要求及/或运行和交易安全的需要，本公司可以限制、改变、减少、终止或暂时停止提供hoomxb.com平台服务的部分功能，或提供、增加新的功能。在任何功能减少、增加或者变化时，只要您仍然使用hoomxb.com平台的服务，表示您即同意因该等功能减少、增加或者变化而带来/导致的本协议的变更和调整并受其约束。
    p 2.3 您确认，您在hoomxb.com网站或红小宝 APP通过您的账户按hoomxb.com平台服务流程所确认的交易状态、操作将成为您进行相关交易或操作（包括但不限于冻结资金、代为支付或收取款项、订立合同等）的明确指令。您同意hoomxb.com平台有权按您的相关指令依据本协议和/或对应法律文件对相关事项进行处理，并同意承担因此造成或引发的法律后果及责任。同时，公司有权基于交易安全、交易公平和合规性等方面的考虑以及司法机关和仲裁机构、行政机关、军事机关等有权机关的要求不时对您使用公司的服务设定相应的限制，包括但不限于限制交易额度、交易次数等。您了解，公司的前述设定可能会对您造成一定不便，您对此没有异议。
    p 2.4 由于您未能及时对交易状态或操作进行修改或确认或未能提交相关申请所引起的任何纠纷或损失均由您本人负责，本公司不承担任何责任。
    h5 三、 交易管理及费用
    p 3.1 在您成功注册后，您可以自行或授权您的代理人根据hoomxb.com平台规则和hoomxb.com平台的说明，通过hoomxb.com网站或红小宝 APP以点击确认的方式签署有关法律文件并经公司和/或合作机构审核通过后实现您的借款需求或资金出借需求（包括但不限于向借款人直接出借或受让债权等形式）。您应当审慎并独立地对公司、借款人提供的交易信息进行判断并作出决策，公司不对其他主体提供的交易信息的真实性、合法性作出明示或暗示、直接或间接的担保或承担其他责任；对于在hoomxb.com平台页面展示的涉及合作机构、借款人的交易信息，hoomxb.com平台也不对该等交易信息的真实性、合法性作出明示或暗示、直接或间接的担保或承担其他责任，除非生效的法院判决判定公司对相关交易信息的不真实、不合法存在恶意或过失并应当承担相应的责任。您使用hoomxb.com平台的服务进行交易而产生的交易风险、损失，均由您自行承担。
    p 3.2 公司不保证您的资金出借需求或其他需求一定能够得到满足；您的需求无法得到满足的，公司不对由此导致的您的任何损失承担任何责任。
    p 3.3 hoomxb.com平台将作为交易平台和服务商为您的资金的出借和回收、债权资产的购买和出让（退出、赎回）及相关事项等提供服务，并在服务过程中根据有关法律文件、相关hoomxb.com平台规则、其他合作机构规则收取必要的服务或管理费用，其具体内容、比例、金额等事项请参见交易过程中您签署的法律文件、相关hoomxb.com平台规则及其他合作机构规则。您同意，hoomxb.com平台有权不时调整前述服务或管理费用的类型或金额等具体事项并根据本协议进行公告、修改。
    h5 四、 资金管理
    p 4.1 就您在hoomxb.com平台进行的借款、出借行为，hoomxb.com平台和/或hoomxb.com平台委托的第三方支付机构或金融机构将为您提供“资金管理服务”，主要包括但不限于：资金存管账户的开立、资金的充值、提现、代收、代付、查询等。您可以通过hoomxb.com平台有关页面的具体规则或说明详细了解。
    p 4.2 您了解，上述充值、提现、代收、代付以及查询等服务涉及hoomxb.com平台与第三方支付机构或金融机构的合作，并将全部或者部分由该等第三方支付机构或金融机构提供。如果就该等服务事宜，您与第三方支付机构或金融机构另行签署了相应的法律文件，则具体服务事项以及各方权利义务以该等法律文件约定为准。您同意：(a) 受第三方支付机构或金融机构可能仅在工作日进行资金代扣及划转的现状等各种原因所限，hoomxb.com平台不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；(b) 一经您使用前述服务，即表示您不可撤销地授权并委托hoomxb.com平台进行相关操作，且该等操作是不可逆转的，您不能以任何理由拒绝付款或要求取消交易；c)就第三方支付机构或金融机构提供的服务，您应按照有关法律文件及第三方支付机构或金融机构的规定向其支付相应的费用，同时，您与第三方支付机构或金融机构之间就服务提供、费用支付等事项而产生的争议或纠纷，均由当事方自行解决，hoomxb.com平台不承担任何直接或间接、全部或部分赔偿责任、担保责任和其他任何法律责任。
    p 4.3 您保证并承诺您通过hoomxb.com平台平台进行交易的资金来源合法。您同意，hoomxb.com平台有权按照包括但不限于司法机关和仲裁机构、行政机关、军事机关等有权机关的要求协助对您的hoomxb.com平台账户及资金等进行查询、冻结或扣划等操作。
    p 4.4 如果hoomxb.com平台出现因系统故障或其他原因导致的处理错误，无论是有利于hoomxb.com平台还是有利于您，hoomxb.com平台都应当并有权通知您以及纠正该等错误，双方权利义务应恢复至如果没有发生该等系统故障或处理错误双方应该享有或承担的权利义务。如果该等错误导致您实际支付或获得的金额与您应当支付或获得的金额不一致的，则在hoomxb.com平台通知您该等处理错误后，您将收到您因该等处理错误而少收或多付的款项，您亦有义务按照hoomxb.com平台的通知将您多收或少付的款项予以返还或补足, 且您在此不可撤销地同意并授权：若在您hoomxb.com平台的账户余额超过该等数额的情况下hoomxb.com平台有权自行划转该等金额。您理解并同意，您因前述处理错误而少收或多付的款项均不计利息，hoomxb.com平台不承担因前述处理错误而导致的任何损失或责任（包括您可能因前述错误导致的利息、汇率等损失）。

    h5 五、 电子合同
    p 5.1 您在hoomxb.com平台交易需订立的法律文件均采用电子方式订立，每一份法律文件可以有多份副本，并且每份副本均具有同等法律效力。无论是否是您本人亲自进行的操作，在hoomxb.com网站和/或红小宝 APP生成了与您的hoomxb.com平台账户对应之唯一登录信息（包括但不限于绑定邮箱、昵称、ID等，以hoomxb.com平台不时要求为准）、您设置了对应的登录密码并对您提供的身份证件信息进行验证后，任何人通过您的hoomxb.com平台账户之登录信息和登录密码登录进入您的hoomxb.com平台账户后，在hoomxb.com网站或红小宝 APP通过点击确认方式签署的电子合同，均视为您本人的真实意思表示和您本人的行为，一经成立生效即不可撤销，且对您具有法律约束力并产生可强制执行的效力。
    p 5.2 您根据本协议以及hoomxb.com平台的相关规则以电子方式签署相应的法律文件后，非经法定或约定的方式和程序，不得擅自修改。hoomxb.com平台或其他合作机构向您提供该等法律文件的保管、查询、核对等服务，如您对该等法律文件的真伪或内容有任何疑问，您可通过hoomxb.com平台的相关系统板块查阅并进行核对。如您经查询仍对法律文件的真伪、版本有任何争议，应以hoomxb.com平台或提供产品的合作机构记录为准。
    h5 六、 用户信息及隐私权保护
    p 6.1 用户信息的提供、搜集及核实
    p 6.1.1 您承诺并保证在注册时如实填写自己的个人资料和信息，并保证及时更新您的个人信息，以确保诸如个人身份信息、电子邮件地址、联系电话、联系地址、邮政编码等个人资料的有效性、安全性和及时更新。如果公司无法根据您提供的联系方式与您取得联系，由此导致您在使用hoomxb.com平台服务过程中遭受任何损失或增加任何费用或产生其他任何不利后果的，均应由您自行承担。
    p 6.1.2 您同意并授权公司可以自行或通过其他机构、行业协会等自公开及私人资料来源收集您的额外资料和信息，搜集的资料和信息范围包括但不限于：
    p （1）您的身份信息，包括但不限于姓名/名称、证件号码、证件类型、住所地、电话号码以及其他身份信息；
    p （2）您在公司的关联方和合作伙伴处中留存以及形成的任何数据和信息，包括但不限于您的证券账户和/或银行账户信息等；您在公司、公司的关联方或公司合作伙伴以及其他机构的网络平台上留存、形成、产生的有关法律文件以及任何个人信息或行为数据，包括但不限于您的交易信息、账户信息、投融资项目信息、履约或违约行为信息等；
    p （3）您的信用信息，包括但不限于您的征信记录和信用报告及其他信用信息；
    p （4）您的财产信息，包括但不限于您的店铺/企业经营状况、财税信息、房产信息、车辆信息、基金、保险、股票、信托、债券等投资理财信息和负债信息等；
    p （5）您在行政机关、司法机关留存的任何信息，包括但不限于户籍信息、工商信息、诉讼信息、执行信息和违法犯罪信息等；
    p （6）与您申请或使用的hoomxb.com平台服务相关的、您留存在其他自然人、法人和组织的其他相关信息。
    p 6.1.3 您同意公司可以自行或通过合作方（包括但不限于合作机构、行业协会）对您提交或公司搜集的用户信息（包括但不限于您的个人身份证信息等）进行核实，并对获得的核实结果进行查看、使用和留存等操作。
    p 6.1.4 您同意公司有权按照您在hoomxb.com平台上的行为自动追踪第6.1.2条规定的资料和信息
    p 6.1.5 您同意公司有权使用诸如“Cookies”等装置以搜集、追踪相关信息和资料并提供只有通过 “Cookies”等装置才可得到的功能。
    p 6.1.6 您同意公司有权将您提交的个人信息和资料、公司搜集的关于您的信息和资料以及您使用公司服务的记录、信息进行搜集、保存。
    p 6.2 用户信息的使用和披露
    p 公司承诺对您的个人信息和资料（包括您主动提交的和公司搜集、记录的所有数据、信息、资料和相应的交易行为记录、交易文件，下同）承担保密义务，不将您的信息向第三方进行出租或出售；但您在此同意并授权，公司可以直接将您的个人信息和资料用于如下用途而无需额外取得您的同意和/或授权：
    p 6.2.1 进行用户身份识别、资料核查和验证，以确保在hoomxb.com平台进行的交易的安全性和防范违法犯罪活动。
    p 6.2.2 进行内部归类、模型建设和分析等内部使用，以改进公司对您及其他用户提供的服务。
    p 6.2.3 将您必要的个人信息和资料（包括但不限于真实姓名、身份证号码、联系方式、信用状况等）披露给通过hoomxb.com平台与您交易的其他主体；当您违反本协议、各hoomxb.com平台规则和/或您通过hoomxb.com平台签署的法律文件之约定或任何法律法规规定时，hoomxb.com平台有权根据自己的判断和/或有关法律文件的约定，披露您的个人信息和资料以及您的违法、违约行为和对应的交易文件而无需承担任何责任，披露的方式包括但不限于：①在hoomxb.com平台及其他网站公布；②向与您交易的主体以及有权的仲裁机构和司法、行政等权力机关提供；③向受公司或与您交易之其他hoomxb.com平台用户委托的专业法律顾问、催收机构等服务提供；④其他披露方式。
    p 6.2.4 根据有关法律法规要求向有权的仲裁机构或司法、行政、立法等权力机关提供您的个人资料和信息。
    p 6.2.5 提供给依法设立的征信机构和个人信用数据库，以供有关单位和个人依法查询和使用。
    p 6.2.6 提供给中国互联网金融协会及其他由国家部委组织成立的行业协会，以供有关单位和个人依法查询和使用，并按照行业协会的要求依法进行信息披露和展示。
    p 6.2.7 提供给公司的关联方、合作方以用于完成hoomxb.com平台对您提供的服务（包括但不限于对您的个人资料和信息进行核实、对您的信用情况进行评估等）。
    p 6.2.8 向您推荐公司提供的商品、服务或推广活动，以及与公司的关联方、合作方共享，以向您提供或推荐公司的关联方、合作/伙伴的商品或服务或推广活动。您不可撤销地同意公司、公司的关联方及合作方通过站内信、电子邮件、电话、短信等方式向您提供、发送服务状态的通知、营销活动及其他商业性信息。
    p 6.2.9 当您使用或申请使用公司的关联方、合作方提供的服务或与其或拟与其进行交易时，将您的个人信息和资料共享与该等公司关联方、合作方，使其可以对您的个人信息和资料进行核实、分析；
    p 6.2.10 您授权的其他情形。
    p 6.3 您对其他用户信息的使用
    p 6.3.1 发生如下任一情形时，您有权要求公司提供在hoomxb.com平台与您发生交易的其他用户、合作机构的信息和资料，且公司提供的该等信息和资料仅以在如下情形发生时使用并以维护您的合法权益所必须为限：
    p （1）与您交易的其他用户、合作机构发生了与您签署的法律文件项下的违约行为；
    p （2）您已依法对与您交易的其他用户、合作机构提起了有关您与该其他用户、合作机构通过公司的服务进行的交易有关的仲裁或诉讼并提供了有效的立案（受理）证明文件；
    p （3）发生了有碍您在通过hoomxb.com平台进行的交易项下相关权益实现的情况，包括但不限于公司被吊销营业执照或被解散、清算、宣告破产以及其他情形。
    p 6.3.2 对于您通过在hoomxb.com平台签署法律文件或向公司申请披露而获知的其他用户、合作机构的资料和信息，您同意并确认：除非法律法规另有规定，或者有权的仲裁机构、司法、行政等权力机关的要求，您仅可将该等资料和信息用于实现、维护您在与该其他用户、合作机构签署的法律文件项下的权益以及履行您在该等法律文件项下的相关义务，不得将该等资料和信息用于其他用途，更不得非法出售该等信息和资料。
    h5 七、 风险提示及责任限制
    p 7.1 您使用hoomxb.com平台提供的服务、通过hoomxb.com平台进行交易，存在如下风险：
    p 7.1.1 交易对手违约风险；
    p 7.1.2 因为①网络服务运营商、网站设备供应商等外部第三方的故意或过失，②技术限制带来的系统或设备缺陷，③hoomxb.com平台系统或网站维护，④法律法规变化、黑客攻击、网络故障、电力中断、计算机病毒或其他不可抗力因素，而引起的交易中断和/或交易错误的风险；
    p 7.1.3 您hoomxb.com平台账户的用户名、密码被窃取或泄露而导致您个人财产损失的风险；
    p 7.1.4 您的个人信息和资料被不法分子窃取、泄露的风险以及由此带来的您个人隐私、生活受到干扰、侵犯的风险；
    p 7.1.5 您购买的合作机构提供的产品收益不能达到该等合作机构通过hoomxb.com平台网站展示的预期收益的风险，以及，在该等产品不承诺保本的情况下，您的本金有亏损的风险；
    p 7.1.6 其他风险。
    p 7.2 责任限制
    p 7.2.1 在任何情况下，非因hoomxb.com平台或公司的原因导致的您在使用hoomxb.com平台服务和/或通过hoomxb.com平台交易过程中的损失（包括但不限于因为您的操作失误、第三方机构原因、交易对手违约导致的损失、您本人使用的电脑、手机终端设备感染病毒或安全防御系统被突破造成您无法正常使用hoomxb.com平台服务或账户、个人信息泄露而导致的损失，损失类型包括但不限于本息损失）），均应由您自行承担或解决；此外，您理解公司基于技术限制和要求需要不时地对hoomxb.com平台系统或网站进行升级或维护并可能需要中断对您的服务，公司对由此导致的后果不承担责任。
    p 7.2.2 公司及其股东、创建人、高级职员、董事、代理人、关联方和雇员（以下称“公司方”）均不以任何明示或默示的方式对您在前述情形下的直接或间接损失承担法律责任，包括但不限于资金损失、预期收益的损失、营业中断损失等。您应当仔细阅读本协议、各项hoomxb.com平台规则、交易的相关法律文件，明确知悉并理解交易存在的风险，并在独立判断后作出交易决策。
    p 7.2.3 鉴于hoomxb.com平台仅为交易平台，hoomxb.com平台不能保证交易各方提供并展示的信息内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且不承担任何由此引起的法律责任，除非该等信息的不真实、不充分、不准确、不完整、无效最终被有权的仲裁机构、司法机关或行政机关最终生效的裁定、判决、裁决或命令认定为因公司的恶意或过失所导致并应当对此承担相应的法律责任。
    p 7.2.4 您有义务选择/使用hoomxb.com平台官方平台，任何通过其他网站链接、邮件链接或其他方式登录非官方平台并由此造成的风险和损失由您自行承担。
    p 7.2.5 hoomxb.com平台不能保证也没有义务保证hoomxb.com平台链接或者您自行登录的第三方网站上的信息的真实性和有效性，您应当自行对第三方网站提供的信息、服务、产品进行判断并谨慎作出决策，公司对第三方网站提供的信息、服务、产品均不承担任何责任。
    h5 八、 账户的管理和使用
    p 8.1 您在接受本协议并通过hoomxb.com网站或者红小宝 APP注册成为hoomxb.com平台用户后，将取得hoomxb.com网站或对应的红小宝 APP之唯一账户（与资金托管账户（如有）统称为“hoomxb.com平台账户”或“账户”）。您通过hoomxb.com网站或者红小宝 APP注册的hoomxb.com平台账户可能具有不同的权限，即该等hoomxb.com平台账户可能仅可在hoomxb.com网站或某一个或几个红小宝 APP使用，也可能在hoomxb.com网站和/或一个或多个各红小宝 APP均可以使用，具体以届时hoomxb.com平台不时设置或修改的hoomxb.com平台账户权限规则为准；根据该等账户权限规则，一个民事主体可能会在hoomxb.com网站和/或各红小宝 APP拥有不同的账户；同时，hoomxb.com网站用户和各红小宝 APP用户之间，以及各红小宝 APP用户之间，公司运营的不同网站的用户之间，可能通过公司信息传递和撮合，相互发生交易并签署法律文件。您在此同意并确认：公司可以将您通过您的hoomxb.com平台账户发布的信息通过公司运营的不同的网站、APP之间进行交互的信息，传递给其他公司用户（可能其使用的是与您不同的登录和操作界面）以及撮合您与其达成交易，您对该等交易的有效性予以承认且在任何时候均不因此对该等交易提出任何异议、质疑、否认；公司将根据需要，在您签署的法律文件中对您以及您的交易对像之账户所属的hoomxb.com平台操作系统（即hoomxb.com网站及各红小宝 APP，下同）进行标注或说明，如标注为包括但不限于“hoomxb.com平台ID”等；如果因为您在公司运营的不同网站和/或一个或多个APP均注册了账户，并且您的不同账户之间发生交易的，因为该等交易系同一主体之间发生而导致无效或引致其他法律后果的，均由您自行承担并赔偿因此给其他用户带来的损失（如有），公司不对此承担任何直接或间接的赔偿、担保以及其他责任，您应当妥善作出每一个交易决策；同时您知晓、理解并确认，公司运营的不同网站、APP项下不同用户的昵称可能相同，但基于该等用户昵称仅是用户自行设置的表明自身身份的标记，且公司会对其所属网站、APP进行标注和说明，该等用户昵称的相同并不会对用户身份真实性造成任何影响，您也不会因此对您作为签署一方的相关法律文件的有效性提出任何异议、否认或质疑。
    p 8.2 您可自行为您的hoomxb.com平台账户设置密码，并通过该账户登录hoomxb.com平台进行相关操作来接受hoomxb.com平台提供的各项服务；hoomxb.com平台将通过您的hoomxb.com平台账户登录信息和密码识别您的指示。在任何情况下，您应直接登录hoomxb.com网站（www.hoomxb.com）或通过红小宝 APP登录您的hoomxb.com平台账户，而不要通过邮件或其他网站提供的链接登录；您每次拨打hoomxb.com平台客户服务电话应拨打hoomxb.com平台专属客户服务电话4001552888（如hoomxb.com平台以公告等形式发布新的客服电话，请届时拨打新的客服电话），而不要拨打其他任何电话。您应妥善保管您的hoomxb.com平台账户登录信息和密码，除您有效授权的代理人外，您不得以借用、租用或其他任何方式提供给第三方使用。hoomxb.com平台在此郑重提醒您，无论是您还是您的代理人或其他第三方（包括但不限于您的hoomxb.com平台用户名、密码泄露导致），以您的hoomxb.com平台账户名和密码登录hoomxb.com平台后在hoomxb.com平台的一切行为和言论均视为您本人的行为，并应由您承担相应的法律后果。
    p 8.3 请您务必妥善保管您的hoomxb.com平台账户登录信息和密码，防止泄露或被不法分子窃取。您若发现您的hoomxb.com平台账户和密码被盗用，应立即以有效方式通知公司，要求公司暂停相关服务，否则由此产生的一切责任均由您本人承担。同时，您理解公司对您的请求采取行动需要合理期限，在此之前，公司对第三人使用该服务所导致的您的损失不承担任何直接或间接的赔偿、担保以及其他责任。
    p 8.4 账户使用限制
    p 8.4.1 您承诺合法使用公司提供的服务及hoomxb.com和红小宝 APP内容，不得利用公司和公司提供的服务从事任何违反或可能违反所有适用法律、法规、政府规章和命令（包括但不限于中国的法律、法规、政府规章和命令）的行为，亦不得利用公司和公司提供的服务从事任何侵犯或可能侵犯其他主体任何权利、权益的行为。
    p 8.4.2 构成hoomxb.com网站、红小宝 APP的全部内容均属于公司所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”），且您同意并承诺、确认该等内容为公司之财产。未经公司事先书面同意，您不得以任何方式和形式复制、模仿、传播、出版、公布、展示、使用前述内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等，您亦不得将任何网站内容镜像到任何其他网站或者服务器。任何未经授权对hoomxb.com网站、红小宝 APP内容的使用均属于违法行为，公司将依法追究您的法律责任。
    p 8.4.3 公司有义务根据有权的仲裁机构、司法机关、行政机关或其他政府机构的有效的法律文书、裁决、命令，不经事先通知而先行对您的hoomxb.com平台账户采取包括但不限于冻结、锁定、注销、处置您通过hoomxb.com平台账户出借、购买的债权等资产以及采取其他措施，并暂停、中断或终止向您提供本协议项下的全部或部分服务。
    p 8.4.4 公司有权基于单方独立判断，在认为发生或可能发生危害交易安全、破坏公平交易秩序、损害其他hoomxb.com平台用户的权益等情形时，不经通知而采取包括但不限于：先行暂停、中断向您提供本协议项下的全部或部分服务，以及/或者将您在hoomxb.com平台发表的内容和/或您的个人资料和信息移除或删除，以及/或者处置您通过hoomxb.com平台账户出借、购买的债权等资产等措施，且无需对您或任何第三方承担任何责任。前述情形包括但不限于：
    p （1） 公司认为您提供的个人资料不具有真实性、有效性或完整性；
    p （2） 公司发现您的hoomxb.com平台账户存在异常交易或认为您的hoomxb.com平台账户存在异常交易的可能时；
    p （3） 公司认为您的hoomxb.com平台账户涉嫌洗钱、信用卡套现、传销等违法违规行为，或认为您的hoomxb.com平台账户存在被冒用或其他公司认为可能损害您或者其他用户的合法权益的情形；
    p （4） 公司认为您已经违反或可能违反本协议各项规定时；
    p （5） 公司不时公告的其他各项情形。
    p 8.5 服务终止和账户的关闭、注销
    p 8.5.1 您同意：根据有权的仲裁机构、司法机关、行政机关或其他政府机构的有效的法律文书、裁决、命令，或者发生第8.4.4条规定的各项情形时，公司有权无需进行事先通知即终止提供本协议项下的各项服务，并关闭、注销您的hoomxb.com平台账户、删除该账户中的所有相关资料及档案，同时将您滞留于您的hoomxb.com平台账户的全部合法资金退回到您的银行账户或者根据权力机关要求进行其他处置。
    p 8.5.2 如果您决定不再使用您的hoomxb.com平台账户时，应首先清偿所有应付款项（包括但不限于服务费、管理费等），并按照本协议和hoomxb.com平台规则通过您的hoomxb.com平台账户向hoomxb.com平台发出有效的资金支付指令，将您在该hoomxb.com平台账户中的可用款项（如有）全部转移至您的银行账户，再向hoomxb.com平台申请注销该用户账户。经hoomxb.com平台审核同意后，您可正式注销您的hoomxb.com平台账户。
    p 8.5.3 如果用户死亡或被宣告死亡的，其在本协议项下的各项权利义务由其合法的继承人享有和承担。若用户丧失全部或部分民事权利能力或民事行为能力的，公司有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置其hoomxb.com平台账户及该等账户相关的款项。
    p 8.5.4 您应保证您注册hoomxb.com平台账户时使用的第三方网站账户、手机号码为您个人合法所有；如果您因为该等第三方网站账户、手机号码失效、注销、更换导致您无法正常使用hoomxb.com平台账户的，hoomxb.com平台对此不承担任何责任；在该等情况下，您可以向hoomxb.com平台提出以您合法所有的银行账户接受您的hoomxb.com平台账户内原有资金的请求，hoomxb.com平台在查验了您提供的各项资料（具体以届时hoomxb.com平台要求为准）并确认属实后，hoomxb.com平台可配合您将您的hoomxb.com平台账户资金转移到以您真实姓名开立的银行账户下。
    p 8.5.5 如果为您提供资金管理服务的第三方支付机构或金融机构在前述第8.5.1条至第8.5.4条规定情况下另有要求的，以其要求为准。
    p 8.6 您同意并确认：您的hoomxb.com平台账户的暂停、中断或终止不代表您责任的终止，您仍应继续履行您使用hoomxb.com平台服务期间所签署之各项法律文件（包括但不限于本协议、对应的交易文件）项下未履行完毕之义务，并对您使用hoomxb.com平台服务期间的行为承担可能的违约或损害赔偿责任；此外，在该等情况下，hoomxb.com平台仍可保存您的个人信息和资料并根据本协议规定予以使用和披露。
    h5 九、 通知
    p 对于本协议项下的各项通知，公司有权以在hoomxb.com网站、红小宝 APP公示的方式发送，也可以向您的hoomxb.com平台账户、您提供的您的电子邮箱和手机号码发送信息的方式发送，还可以拨打您预留的电话号码的方式发送，以及向您预留的住址以快递、挂号信的方式发送。如以公示方式作出的，在公示当日即视为已经送达；向您的hoomxb.com平台账户、您的电子邮箱或手机号码以电子信息形式发送的，一经成功发送即视为已经送达；以电话形式发送的，通知作出之时即为送达；以快递、挂号信的方式发送的，投递之日起第三日视为送达。请您密切关注您的电子邮箱 、站内消息系统栏中的邮件、信息及手机中的信息，并在您的联系方式发生变更时及时通过操作hoomxb.com平台相关板块进行更新，公司仅以您提供的联系方式为准向您发送各项通知，如您因未按上述约定及时进行联系方式更新而导致您发生任何损失的均由您自行承担。您同时同意并确认，若您设置了不接收hoomxb.com平台的有关通知或提醒，则您有可能收不到该等通知信息，您不得以您未收到或未阅读该等通知信息主张相关通知未送达于您。
    h5 十、 适用法律和管辖
    p 因本协议的签署、履行产生的争议均适用中华人民共和国法律，并应由公司住所地的人民法院管辖。
    h5 十一、 其他
    p 公司对本协议拥有最终的解释权。若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效并应继续予以履行。
