extend base

block title
  | 网络借贷提示书 -

block content
  .section.agreement-container
    h4 《网络借贷提示书》
    h5 尊敬的用户，您好！
    p 恭喜您成为红上金融信息服务（上海）有限公司运营的网络借贷信息服务平台——红小宝平台的注册用户。您可根据您的资金出借需求，自愿选择红小宝平台进行资金出借，并获取合法收益。
    p 根据有关法律法规及金融监管部门的要求，您在红小宝平台（包括但不限于网站、移动端）进行资金出借并获取预期收益前，请仔细阅读并充分理解《网络借贷提示书》的相关内容，当您在红小宝平台点击“确定”、“同意”、“加入”或类似含义的选项时，即视为您已完全知悉《网络借贷提示书》的内容，对您出借资金来源的合法性作出保证性承诺，并自愿承担网络借贷可能产生的风险。
    h5 一、由于资金出借过程中，可能将面临多重风险因素，因此在您加入红小宝平台相关服务前，请仔细阅读以下内容：
    h5 市场有风险、出借需谨慎，您应充分认识以下风险：
    p 1、法律及政策风险：红小宝平台依据国家法律法规及政策指导而运营，如法律法规、行政规章或政策发生重大调整、变化或其他不可预知的意外事件，可能会对您的出借收益造成不利影响。
    p 2、市场风险：红小宝平台基于诚实守信、勤勉尽责的原则提供借贷双方信息服务，由于宏观经济、市场环境发生重大变化，可能导致借款项目逾期概率增大，红小宝平台不保证用户出借的预期收益，亦不保证最低收益。
    p 3、借款人违约风险：红小宝平台及合作方会在债权形成前对借款人的信用、借款需求、偿还能力进行尽职调查。但是当借款人发生死亡、失踪、人身意外、重大疾病等短期或长期丧失还款能力时，您的出借资金及收益可能无法按时足额得到偿还。
    p 4、资金流动性风险：针对用户的出借本金及回款再出借资金，红小宝平台根据网络借贷相关协议，积极帮助用户寻找愿意受让债权的第三方，但红小宝不对债权转让的实现及实现时间做出任何承诺和保证。
    p 5、信息传递风险：红小宝平台按照国家法律法规进行充分的信息披露，包括但不限于通过网站公告、短信、站内信等方式进行，用户应及时查询相关信息，如用户因未及时查询或通讯故障、系统故障等其他不可抗力导致未及时了解平台信息，由此产生的责任和风险由用户自行承担。
    p 6、不可抗力导致的风险：由于遭受战争、动乱、自然灾害、突发性公共卫生事件、政府征用等无法预见、无法克服、无法避免等不可抗力因素导致平台不能正常运营、用户出借收益损失的风险。
    h5 上述风险提示不能穷尽全部风险及市场的全部情形，用户在做出交易决策前，应全面了解网贷相关政策法规，了解项目风险收益特征，做出合理决策。

    h5 二、网络借贷禁止性行为提示：红小宝平台作为网络借贷信息服务平台，将严格依据《网络借贷信息中介机构业务活动管理暂行办法》的规定，不予从事或者接受委托从事下列活动，请您知悉并共同进行监督：
    p 1、为自身或变相为自身融资；
    p 2、直接或间接接受、归集出借人的资金；
    p 3、直接或变相向出借人提供担保或者承诺保本保息；
    p 4、自行或委托、授权第三方在互联网、固定电话、移动电话等电子渠道以外的物理场所进行宣传或推介融资项目；
    p 5、发放贷款，但法律法规另有规定的除外；
    p 6、将融资项目的期限进行拆分；
    p 7、自行发售理财等金融产品募集资金，代销银行理财、券商资管、基金、保险或信托产品等金融产品；
    p 8、开展类资产证券化业务或实现以打包资产、证券化资产、信托资产、基金份额等形式的债权转让行为；
    p 9、除法律法规和网络借贷有关监管规定允许外，与其他机构投资、代理销售、经纪等业务进行任何形式的混合、捆绑、代理；
    p 10、虚构、夸大融资项目的真实性、收益前景，隐瞒融资项目的瑕疵及风险，以歧义性语言或其他欺骗性手段等进行虚假片面宣传或促销等，捏造、散布虚假信息或不完整信息损害他人商业信誉，误导出借人或借款人；
    p 11、向借款用途为投资股票、场外配资、期货合约、结构化产品及其他衍生品等高风险的融资提供信息中介服务；
    p 12、从事股权众筹等业务；
    p 13、法律法规、网络借贷有关监管规定禁止的其他活动。
    h5 以上内容请您知悉并进行监督。

    p 本人已经阅读《网络借贷提示书》的所有内容，充分知晓相应的权利义务，并愿意承担相关风险及法律后果。
    p 本人同时保证在红小宝平台出借的资金为来源合法的自有资金，且保证出借资金及或其产生的收益不用作任何反国家、恐怖融资等违法犯罪活动，或以出借资金及所得收益支持、资助或变相帮助反国家、恐怖组织从事非法活动。
