extend base

block title
  | CFCA数字证书服务协议 -

block content
  .section.agreement-container
    h4 CFCA数字证书服务协议
    p.manual-center
      strong
        |（本协议包含CFCA的免责条款，请认真阅读，尤其是粗体字内容）
    p 尊敬的网上用户：
    p 中金金融认证中心有限公司(即中国金融认证中心，简称“CFCA”)是经国家有关管理机关审批设立的电子认证服务机构，作为权威的第三方安全认证机构，通过数字证书注册机构（以下简称“RA”）向网上用户（以下简称“订户”）发放数字证书，为订户网上交易提供信息安全保障。
    p 订户在申请使用CFCA签发的数字证书之前，应先阅读并同意"CFCA数字证书服务协议"(以下简称"本协议")。本协议构成订户与中金金融认证中心有限公司之间的权利义务约定，若不同意本协议全部或部分条款，请勿申请使用CFCA数字证书。
      strong 订户一旦完成CFCA数字证书的下载或初次使用，即表明同意接受并愿意遵守本协议的所有条款。
    h5 一、证书订户的权利和义务
    p
      strong 1、订户应遵循诚实、信用原则，在向RA申请数字证书时，应当提供其真实、完整、准确的信息和资料，并在这些信息、资料发生改变时及时通知原RA。如因订户故意或过失提供的资料不真实、不完整、不准确或资料改变后未及时通知CFCA或原RA，造成的损失由订户自己承担。
    p
      strong 2、在通过RA的审核、信息注册后，订户即可获得数字证书的下载凭证，订户应妥善保管下载凭证，亲自用该凭证从相关网站将数字证书下载在安全的容器里；订户也可以委托或授权他人通过其他安全的方式获得数字证书。订户获得的下载凭证为一次性使用，有效期为14天。如果在14天内没有下载数字证书，
      | 订户需要到RA重新获得下载凭证。订户应对获得的数字证书信息进行确认，首次使用，视为确认生效。
    p 3、订户须使用经合法途径获得的相关软件。
    p 4、订户应合法使用CFCA发放的数字证书，并对使用数字证书的行为负责：
    p ① 使用证书的行为应符合全部适用的法律法规；
    p ② 使用证书的行为应符合订户真实意愿或者仅为了处理已获得授权的事务；
    p ③ 使用证书的行为应符合本协议约定的使用范围和条件。
    p
      strong 5、订户应采取必要手段来保障证书的私钥和相关密码的安全存储、使用备份等。EV代码签名证书必须被保存在满足FIPS-140-2或相应级别的安全介质中；如初次使用智能密码钥匙时，应修改初始的缺省密码。订户如因故意或过失导致他人盗用、冒用数字证书私钥和密码时，订户应自行承担由此产生的责任。
    p
      strong 6、如订户使用的数字证书私钥和密码泄漏、丢失，或者订户不希望继续使用数字证书，或者订户主体不存在，订户或法定权利人应当立即到原RA申请废止该数字证书，相关手续遵循RA的规定。CFCA收到RA的废止请求后，将在4小时之内废止该订户的数字证书。
    p 7、 订户损害CFCA利益的，须向CFCA赔偿全部损失。这些情形包括但不限于：
    p ① 订户在申请数字证书时没有提供真实、完整、准确信息，或在这些信息变更时未及时通知RA；
    p ② 订户知道自己的私钥已经失密或者可能已经失密而未及时告知有关各方、并终止使用；
    p ③ 订户有其他过错或未履行本协议的相关约定。
    p 8、订户有按期缴纳数字证书服务费的义务，费用标准请咨询RA。
    p 9、CFCA有权因安全风险因素要求订户更换数字证书。订户在收到数字证书更换通知后，应在规定的期限内到原RA更换。
    p
      strong 10、订户申请代码签名证书后，一旦发现如下情况之一时，应当立即向CA申请吊销此证书：
    p
      strong ① 有证据表明，此代码签名证书被用于签署可疑代码，包括但不限于病毒，木马，或者其他不恰当的程序。
    p
      strong ② 证书中内容不再正确或不再准确。
    p
      strong ③ 此证书私钥信息已被泄露、丢失，或者其他相关部分已被错误使用。
    p
      strong 11、证书一旦被吊销，订户将不能再使用该证书。
    p
      strong 12、订户明确了解，如果CFCA发现了订户证书的不当使用，或者订户证书被用于违法甚至犯罪行为，CFCA有权直接吊销订户证书。
    p 13、订户在发现或怀疑由CFCA提供的认证服务造成订户的网上交易信息的泄漏和/或篡改时，应在3个月内向CFCA提出争议处理请求并通知有关各方。

    h5 二、CFCA的服务、权利、义务、责任限制和免责
    p 1、CFCA依法制定《电子认证业务规则》（简称CPS），并公布于CFCA网站（www.cfca.com.cn），明确CFCA数字证书的功能、使用证书各方的权利、义务以及CFCA的责任范围，本协议的相关条款源自CPS。
    p 2、CFCA为订户提供7X24小时热线支持服务（4008809888）。为保证我们的服务质量，CFCA设立了投诉电话（010-83519756），CFCA将在1个工作日内对订户的意见和建议做出响应。
    p 3、在订户通过安全工具使用数字证书对交易信息进行加密和签名的条件下，CFCA将保证交易信息的保密性、完整性、抗抵赖性。如果发生纠纷，CFCA将依据不同情形承担下述义务：
    p ① 提供签发订户数字证书的CA证书；
    p ② 提供订户数字证书在交易发生时，在或不在CFCA发布的数字证书废止列表内的证明；
    p ③ 对数字证书、数字签名、时间戳的真实性、有效性进行技术确认。
    p
      strong 4、有下列情形之一的，CFCA有权撤销所签发的数字证书：
    p
      strong ① 订户申请数字证书时，提供的资料不真实；
    p
      strong ② 订户未履行本协议约定的义务；
    p
      strong ③ 订户书面申请撤销数字证书；
    p
      strong ④ 证书的安全性不能得到保证；
    p
      strong ⑤ 法律、行政法规规定的其他情况。
    p
      strong 5、CFCA将对订户申请数字证书时提交的信息进行审核，提供证书生命周期內的相关服务，同时向相关方提供查询服务。CFCA及其注册机构均有义务保护订户隐私信息安全性。
    p
      strong 6、 根据《电子签名法》的规定，如果订户依法使用CFCA提供的认证服务进行民事活动而遭受损失的，CFCA将给予相应赔偿，除非CFCA能够证明其提供的服务是按照《电子签名法》等相关法律法规和CFCA向主管部门备案的CPS实施的。以下损失不在赔偿之列：
    p
      strong ① 任何直接或间接的利润或收入损失、信誉或商誉损害、任何商机或契机损失、失去项目、以及失去或无法使用任何数据、无法使用任何设备、无法使用任何软件；
    p
      strong ② 由上述损失相应生成或附带引起的损失或损害。
    p
      strong 7、 以下损失CFCA将不承担责任：
    p
      strong ① 非因CFCA的行为而导致的损失；
    p
      strong ② 因不可抗力而导致的损失，如罢工、战争、灾害、恶意代码病毒等。
    p
      strong 8、CFCA对企业订户申请的数字证书的赔偿上限为人民币伍拾万元整，即￥500,000.00元；对个人订户申请的数字证书的赔偿上限为人民币贰万元整，即￥20,000.00元。

    h5 三、 其他
    p 1、本协议中涉及“原RA”的条款若因原RA合并或撤销，即原RA不存在，则业务的受理与开展应到另行指定的RA进行。
    p 2、建议订户经常浏览CFCA网站（www.cfca.com.cn），以便及时了解CFCA有关证书管理、CPS和本协议变更公示等方面的信息。
    p 3、CFCA有权对本协议进行修订，修订后的本协议将公布于CFCA网站（www.cfca.com.cn）。如订户在本协议公布修订的1个月后继续使用CFCA提供的数字证书服务，即表明同意接受此等修订的约束。如果订户不予接受本协议中的约束，订户可以在上述期限内单方以书面形式向RA申请停止使用证书。
    p 4、因依据CFCA的电子认证服务而发生的争议，双方应当先通过友好协商的方式解决（必要时CFCA将召集业内专家组成专家小组，详细流程参见CPS的相关条款），双方不能达成一致意见的，任何一方可以向北京仲裁委员会申请仲裁，按照该会的规则在（北京）进行仲裁，仲裁裁决是终局的，对任何一方均有约束力。
    p 5、本协议在订户完成CFCA数字证书的下载或初次使用时即为生效。
    p.align 中金金融认证中心有限公司
    p.align (中国金融认证中心)
    p.align 2015年8月4日
