extend base

block title
  | 个人电子签章授权委托书 -

block content
  .section.agreement-container
    h4 个人电子签章授权委托书
    p 授权人：
    p 身份证号码：
    p 被授权人：红上金融信息服务（上海）有限公司
    p 授权人授权红上金融信息服务（上海）有限公司通过安全的方式办理并获取授权人在中金金融认证中心有限公司的数字证书，并在《红利智投服务协议》、《借款协议》及其他因借贷而形成的相关电子法律文书在被授权人平台生成时，使用该数字证书代授权人以个人电子签名进行签署，视为授权人本人亲自签署。
    p 授权人在被授权人平台通过包括但不限于点击、勾选等方式之一或方式的结合签署本授权委托书的行为，视为授权人不可撤销的同意并确认本授权委托书的所有内容，本授权委托书正式生效。授权期限为自本授权委托书生效之日起至授权人通过被授权人平台办理的借贷业务全部履行完毕之日止。
    p 授权人保证本授权委托书的真实性、合法性和有效性，被授权人依据本授权委托书进行电子法律文书的签署引起的一切法律后果由授权人自行承担。
    p.align 授权日期：