extend base

block title
  | 购买结果 - 
  
block content
  .section.buy-result
    #J_result-wrap
      .result-title-img
        img(src='/img/loading.png')
      h2 恒丰银行处理中...

block foot-script
  script.
    var _productId = #{productId};
    var _amount = #{amount};
    $(function(){
      $.post('/api/plan/buy', {amount: _amount, productId: _productId}).done(function(json){
        setTimeout(function(){
          $('#J_result-wrap').html(json.data.html);
        }, 2000);
      });
    })
