extends base

block title
  | 认证成功 -

block content
  .user-signup-realname-success
    .container.user-signup-realname-success-container
      img(src='/img/secure-comfirm-icon.png')
      h3 安全认证成功
      p 安全认证完成后,充值后即可购买产品
      a(href='/account/quickpay') 立即充值